.row
  / View By Form
  = form_tag service_history_account_path(@account), id: :view_by_selection, method: :get do
    .small-12.medium-6.large-6.columns
      %label Search by:
      %ul.inline-list
        %li
          %label
            = radio_button_tag 'view_by', :month, view_by == :month
            Month
        %li
          %label
            = radio_button_tag 'view_by', :year, view_by == :year
            Year
        %li= submit_tag 'View By', class: 'tiny button radius', name: nil

  / Active Date Form
  = form_tag service_history_account_path(@account), method: :get do
    .small-6.medium-3.large-3.columns
      = year_or_month_select

    .small-6.medium-3.large-3.columns
      = submit_tag "Select #{view_by.to_s.capitalize} to View", class: 'tiny button radius', name: nil
