.row
  .small-12.medium-6.large-6.columns
    = f.label :performed_on, 'Performed on (yyyy-mm-dd)'
    = f.text_field :performed_on, class: 'datePicker', placeholder: 'Date'

  .small-12.medium-6.large-6.columns
    = f.label :cost
    .input-group
      %span.input-group-label $
      = f.number_field :cost, step: 0.01, placeholder: '0.00', class: 'input-group-field'

.row
  .small-12.medium-6.large-6.columns
    = f.label :memo
    = f.text_field :memo

  .small-12.medium-6.large-6.columns
    = f.submit class: 'small button small_button_down radius expanded'
