<h4>New Service</h4>

<div class="row">
  <div class="small-12 columns">

    <%= form_for [@account, @service] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="row">
        <div class="small-12 medium-6 large-6 columns">
          <label>*Performed on (yyyy-mm-dd)</label>
          <%= f.text_field :performed_on, placeholder: 'Date' %>

          <%= f.label :money_received %>
          <div class="row collapse">
            <div class="small-3 medium-2 large-2 columns">
              <span class="prefix z-index_1">$</span>
            </div>
            <div class="small-9 medium-10 large-10 columns">
              <%= f.number_field :money_received, placeholder: '0.00' %>
            </div>
          </div>
        </div>

        <div class="small-12 medium-6 large-6 columns">
          <%= f.label :note %>
          <%= f.text_area :note, class: 'text_area_height' %>

          <%= f.submit class: 'small button radius expand' %>
        </div>
      </div>

    <% end %>

  </div>
</div>


