.row
  .small-12.columns
    = form_for @service do |f|
      = render 'shared/error_messages', object: f.object
      = hidden_field_tag :invoice_id, @service.invoice_id if params[:invoice_id] && !@service.invoice.nil?

      .row
        .small-12.medium-6.large-6.columns
          %label *Performed on (yyyy-mm-dd)
          = f.text_field :performed_on, class: 'datePicker', placeholder: 'Date'
          = f.label :cost

          .row.collapse
            .small-3.medium-2.large-2.columns
              %span.prefix $

            .small-9.medium-10.large-10.columns
              = f.number_field :cost, step: 0.01, placeholder: '0.00'

        .small-12.medium-6.large-6.columns
          = f.label :memo
          = f.text_area :memo, class: 'text_area_height'
          = f.submit class: 'small button radius expand'
