%tr
  %td
    - if service.invoice_id.present?
      = link_to invoice_path(service.invoice) do
        %i.page.fi-page
          %b= service.invoice.pre_post_number
    - else
      %i not invoiced
  %td= service.performed_on.strftime('%Y-%b-%d')
  %td= service.memo
  %td= number_to_currency(service.cost, unit: '$')
  - if current_user.is_admin?
    %td.center_cell
      = link_to edit_service_path(service), class: service.disable_link_if_archived? do
        %i.page.fi-page-edit
    %td.center_cell
      = link_to service, class: "#{service.disable_link_if_archived?} red_link", method: :delete,
      data: { confirm: t(:confirm_delete_service) } do
        %i.general.fi-x
