<h4>Service History</h4>

<div class="row">
  <%= render 'services/view_by_form' %>
  <%= render 'services/active_date_form' %>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="total_amount">
      <%= "Total Invoice Price this #{view_by.capitalize}:" %>
      <span><%= sum_services(@services) %></span>
    </div>
  </div>
</div>

<%= form_tag invoice_account_services_path(@account), method: :put do %>
  <table class="small-12">
    <thead>
      <tr>
        <th>Invoice</th>
        <th>Performed on</th>
        <th>Price</th>
        <th>Note</th>
        <% if current_user.is_admin? %>
          <th>Edit</th>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>

    <% services_with_view_by_scope(@services).each do |service| %>
      <% if service.persisted? %>
        <tbody>
          <tr>
            <td><%= check_box_tag "service_ids[]",
                                  service.id,
                                  service.invoice_id.nil?,
                                  disabled: service.invoice_id? %></td>
            <td><%= service.performed_on.strftime("%Y-%b-%d") %></td>
            <td><%= number_to_currency(service.price, unit: '$') %></td>
            <td>
              <% if service.note.length > 10 %>
                <%= link_to account_service_path(@account, service) do %>
                  <%= service.note.truncate(10, :omission => '... (continued)') %>
                <% end %>
              <% else %>
                <%= service.note %>
              <% end %>
            </td>
            <% if current_user.is_admin? %>
              <td class="center_cell">
                <%= link_to edit_account_service_path(@account, service) do %>
                  <i class="page fi-page-edit"></i>
                <% end %>
              </td>
              <td class="center_cell">
                <%= link_to [@account, service],
                            method: :delete,
                            confirm: 'Are you sure? This will permanently delete your service history record.' do %>
                  <i class="general fi-x"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= submit_tag 'Invoice Checked', class: 'tiny button radius' %>
<% end %>
