<% if @services.by_not_used.any? %>
  <h4>Invoiceable Services</h4>
  <div class="row">
    <div class="small-12 columns total_amount">
      <label>
        Invoiceable Cost Total:
        <span><%= number_to_currency(@account.sum_invoiceable_services) %></span>
      </label>
    </div>
  </div>
  <%= form_tag invoice_services_path, method: :put do %>

    <div class="hide-for-medium-up"><%= render 'services/invoiceable_badges' %></div>
    <div class="show-for-medium-up"><%= render 'services/invoiceable_table' %></div>

    <%= submit_tag 'Invoice Checked Services', class: 'tiny button radius' if current_user.is_admin? %>
  <% end %>

  <hr>
<% end %>
