%div{id: "memoModal#{service.id}", class: 'reveal-modal', data: {reveal: true}}
  %h1
    #{current_account.name} Memo
    %small= service.performed_on.strftime('%Y-%b-%d')

  %hr/
  %p= service.memo

  - if current_user.is_admin?
    = link_to 'Edit', edit_service_path(service), class: 'small button radius'

  %a.close-reveal-modal &times;
