<%= form_tag @account, method: :get do %>
  <div class="row">
    <div class="small-12 columns">
      <label>View by:</label>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= radio_button_tag 'view_by', :year, view_by == :year ? true : false %><%= label_tag 'view_by_year', 'Year' %>
      <%= radio_button_tag 'view_by', :month, view_by == :month ? true : false %><%= label_tag 'view_by_month', 'Month' %>
    </div>
    <div class="small-6 columns">
      <%= submit_tag 'View By', class: 'tiny button radius', name: nil %>
    </div>
  </div>
<% end %>