<p id="notice"><%= notice %></p>

<p>
  <b>Performed on:</b>
  <%= @service.performed_on %>
</p>

<p>
  <b>Amount received:</b>
  <%= @service.money_received %>
</p>

<p>
  <b>Note:</b>
  <%= @service.note %>
</p>


<%= link_to 'Edit', edit_account_service_path(@account, @service) %> |
<%= link_to 'Back', account_services_path %>
