<% provide(:title, 'Note') %>

<div class="row">
  <div class="small-12 medium-8 large-8 small-centered columns panel" >

    <h1><%= @account.name %> Note <small><%= @service.performed_on %></small></h1>

    <%= @service.note %>

    <br><br>

    <ul class="inline-list">
      <li><%= link_to "#{@account.name} Account", @account, class: 'small button radius' %></li>
      <% if current_user.is_admin? %>
        <li><%= link_to 'Edit', edit_account_service_path(@account, @service), class: 'small button radius' %></li>
      <% end %>
    </ul>

  </div>
</div>
