.row
  .small-12.columns
    %br/

    - unless @accounts.any?
      .alert-box.warning.radius
        Be sure to #{link_to 'edit your company', edit_company_path} information to add your
        logo, address, phone number, ect. that will be applied to your invoices headers.
        Next feel free to #{link_to 'create you first account', new_account_path}.

    .outline
      .right
        = link_to edit_company_path, title: 'Edit Company' do
          Edit
          %i.page.fi-page-edit

      = render 'companies/header_preview'

    = render 'dashboard/overview'

    = render 'dashboard/recent_accounts'

    = render 'dashboard/new_service'
