.outline
  %h4
    Overview

  Company Accounts:
  = current_company.accounts.count

  %br/
  #{Date.current.year}'s Income:
  = number_to_currency(current_company.total_company_payments(:year, Date.current))

  %br/
  #{Date.current.year}'s Outstanding Payments:
  = number_to_currency(current_company.total_company_balance_due(:year, Date.current))
