- provide(:title, 'Developer Dashboard')

.row
  .medium-5.columns
    = image_pack_tag 'TinFoilHat.svg'
.row
  .small-12.columns
    %h1.main_page_header DeveloperDashboard
    %br/

    %h3 Users
    %ul.no_bullets
      %li
        Number of users:
        %b= User.all.count
      %li
        Number of company owners:
        %b= User.by_owner_user.count
  %hr/

.row
  .small-6.columns
    %b= params[:all_users] ? 'Viewing all users' : 'Only viewing Admins'
    |
    = admin_or_all_users

%br/

= render 'users_table'

.row
  .small-12.columns
    = paginate @users
