<% provide(:title, 'User settings') %>

<div class="hero-unit center-devise-forms">

  <h2 class="heading">Edit <%= resource_name.to_s.humanize %></h2><br>

  <%= form_for(resource,
               :as => resource_name,
               :url => registration_path(resource_name),
               :html => { :method => :put }) do |f| %>

    <%= devise_error_messages! %>

    <div class="control-group">
      <%= f.label :your_name %>
      <%= f.text_field :your_name, class: 'input-block-level', autofocus: true %>
    </div>

    <div class="control-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'input-block-level' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="control-group">
      <%= f.label :current_password %>
      <i class="help-block">(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, class: 'input-block-level' %>
    </div>

    <div class="control-group">
      <%= f.label :password, "New password" %>
      <i class="help-block">(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, class: 'input-block-level', :autocomplete => 'off' %>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'input-block-level' %>
    </div>

    <br>

    <div class="control-group">
      <p><%= f.submit 'Update', class: 'btn btn-large btn-block btn-primary' %></p><br>
      <p><%= link_to 'Back', root_path, class: 'btn btn-block' %></p>
    </div>
  <% end %>

  <br>

  <section>
    <h3>Cancel my account</h3>
    <%= button_to 'Cancel my account', registration_path(resource_name),
                  class: 'btn btn-small btn-danger',
                  :data => { :confirm => 'Are you sure? This will permanently delete your account and all of your personal information will be lost!' },
                  :method => :delete %>
  </section>

</div>
