<% provide(:title, 'Sign up') %>

<div class="hero-unit center-devise-forms">

  <h2 class="heading">Sign up</h2><br>

  <%= form_for(resource,
               :as => resource_name,
               :url => registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <div class="control-group">
      <%= f.label :your_name %>
      <%= f.text_field :your_name, class: 'input-block-level', autofocus: true %>
    </div>

    <div class="control-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'input-block-level' %>
    </div>

    <div class="control-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'input-block-level' %>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'input-block-level' %>
    </div>

    <div class="control-group">
        <%= f.submit 'Sign up', class: 'btn btn-large btn-block btn-primary' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>

</div>
