<h4>Add Services to your Invoice</h4>

<%= form_tag add_services_invoices_path(id: @invoice.id), method: :put do %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Date performed</th>
        <th>Service cost</th>
      </tr>
    </thead>

    <% @services.by_not_used.reverse_order.each do |service| %>
      <% if service.persisted? %>
        <tbody>
          <tr>
            <td><%= check_box_tag "service_ids[]", service.id %></td>
            <td><%= service.performed_on.strftime("%Y-%b-%d") %></td>
            <td><%= number_to_currency(service.cost) %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= submit_tag 'Add Checked Services', class: 'tiny button radius' %>
<% end %>
