%h4 Add Services to your Invoice

= form_tag add_services_invoices_path(id: @invoice.id), method: :put do
  %table
    %thead
      %tr
        %th
        %th Date performed
        %th Memo
        %th Service cost

    - @services.by_not_used.reverse_order.each do |service|
      - if service.persisted?
        %tbody
          %tr
            %td= check_box_tag "service_ids[]", service.id
            %td= service.performed_on.strftime("%Y-%b-%d")
            %td= service.memo
            %td= number_to_currency(service.cost)

  = submit_tag 'Add Checked Services', class: 'tiny button radius'
