.row
  .small-12.medium-6.large-6.columns
    = f.label :established_at, 'Invoice Date (yyyy-mm-dd)'
    = f.text_field :established_at, class: 'datePicker', placeholder: 'Date'

  .small-12.medium-6.large-6.columns
    = f.label :sales_tax do
      Invoice Sales Tax or
      = link_to 'Set Company Regional Sales Tax', edit_company_path(invoice_id: @invoice.id, anchor: :regional_sales_tax)
    .input-group
      = f.number_field :sales_tax, class: 'input-group-field'
      %span.input-group-label % Sales Tax
