<div class="row">
  <!-- View By Form -->
  <%= form_tag edit_invoice_path(@invoice), id: :view_by_selection, method: :get do %>
    <div class="small-12 medium-6 large-6 columns">
      <label>View By</label>
      <ul class="inline-list">
        <li><label><%= radio_button_tag 'view_by', :month, view_by == :month %> Month</label></li>
        <li><label><%= radio_button_tag 'view_by', :year, view_by == :year %> Year</label></li>
        <li><%= submit_tag 'View By', class: 'tiny button radius', name: nil %></li>
      </ul>
    </div>
  <% end %>

  <!-- Active Date Form -->
  <%= form_tag edit_invoice_path(@invoice), method: :get do %>
    <div class="small-6 medium-3 large-3 columns">
      <%= year_or_month_select %>
    </div>
    <div class="small-6 medium-3 large-3 columns">
      <%= submit_tag "Select #{view_by.capitalize} to View", class: 'tiny button radius', name: nil %>
    </div>
  <% end %>
</div>
