<h3><%= @account.company.name %></h3>

<div class="small-12 columns">
  <ul class="inline-list small">
    <li><label><b>Owner: </b><%= @account.company.users.find(1).name %></label></li>
    <li><label><b>Address: </b><%= @account.company.full_address %></label></li>
    <li><label><b>Phone: </b><%= @account.company.phone %></label></li>
    <% if @account.company.fax.present? %>
      <li><label><b>Fax: </b><%= @account.company.fax %></label></li>
    <% end %>
    <% if @account.company.users.first.email.present? %>
      <li><label><b>Email: </b><%= @account.company.users.find(1).email %></label></li>
    <% end %>
  </ul>
</div>

<b>Invoice# <%= @invoice.id %></b>

<div class="panel">
  <ul class="inline-list">
    <li><label><b>Account name: </b><%= @account.name %></label></li>
    <li><label><b>Invoice for: </b><%= @account.user.name %></label></li>
    <% if @account.full_address.present? %>
      <li><label><b>Address: </b><%= @account.full_address %></label></li>
    <% end %>
    <% if @account.phone.present? %>
      <li><label><b>Phone: </b><%= @account.phone %></label></li>
    <% end %>
    <% if @account.fax.present? %>
      <li><label><b>Fax: </b><%= @account.fax %></label></li>
    <% end %>
    <% if @account.user.email.present? %>
      <li><label><b>Email: </b><%= @account.user.email %></label></li>
    <% end %>
  </ul>
</div>