<h4>Remove Services from your Invoice</h4>

<%= form_tag remove_services_invoices_path(id: @invoice.id), method: :put do %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Date performed</th>
        <th>Memo</th>
        <th>Service cost</th>
        <th>Edit</th>
      </tr>
    </thead>

    <% @invoice.services.reverse_order.each do |service| %>
      <% if service.persisted? %>
        <tbody>
          <tr>
            <td><%= check_box_tag "service_ids[]", service.id %></td>
            <td><%= service.performed_on.strftime("%Y-%b-%d") %></td>
            <td><%= service.memo %></td>
            <td><%= number_to_currency(service.cost) %></td>
            <td>
              <%= link_to edit_service_path(service, invoice_id: service.invoice_id) do %>
                <i class="page fi-page-edit"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= submit_tag 'Remove Checked Services', class: 'tiny button radius' %>
<% end %>
