<h4>Remove Services from your Invoice</h4>

<%= form_tag remove_services_invoices_path(id: @invoice.id), method: :put do %>
  <%= hidden_field_tag(:account_id, @account.id) %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Date performed</th>
        <th>Service cost</th>
      </tr>
    </thead>

    <% @invoice.services.each do |service| %>
      <% if service.persisted? %>
        <tbody>
          <tr>
            <td><%= check_box_tag "service_ids[]", service.id %></td>
            <td><%= service.performed_on.strftime("%Y-%b-%d") %></td>
            <td><%= number_to_currency(service.price) %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= submit_tag 'Remove Checked Services', class: 'tiny button radius' %>
<% end %>
