.nested-fields
  .outline
    .row
      .small-12.columns
        = link_to_remove_association 'remove service', f, class: 'red_link'

    .row
      .small-12.medium-6.large-6.columns
        = f.label :performed_on, 'Performed on (yyyy-mm-dd)'
        = f.text_field :performed_on, class: 'datePicker', placeholder: 'Date', value: f.object.performed_on ||= Date.current

      .small-12.medium-6.large-6.columns
        = f.label :cost
        .input-group
          %span.input-group-label $
          = f.number_field :cost, step: 0.01, placeholder: '0.00', class: 'input-group-field'

    .row
      .small-12.medium-6.large-6.columns
        = f.label :memo
        = f.text_field :memo
