<h3><%= current_company.name %></h3>

<div class="small-12 columns">
  <ul class="small no_bullets">
    <li><label><b>Address: </b><%= current_company.full_address %></label></li>
    <li><label><b>Phone: </b><%= current_company.phone %></label></li>
    <% if current_company.fax.present? %>
      <li><label><b>Fax: </b><%= current_company.fax %></label></li>
    <% end %>
    <li><label><b>Email: </b><%= current_company.by_owner_email %></label></li>
  </ul>
</div>

<b>Invoice# <%= @invoice.id %></b>

<div class="panel">
  <ul class="no_bullets">
    <li><label><b>Company: </b><%= current_company.name %></label></li>
    <li><label><b>Invoice for: </b><%= current_account.user.name %></label></li>
    <% if current_account.full_address.present? %>
      <li><label><b>Address: </b><%= current_account.full_address %></label></li>
    <% end %>
    <% if current_account.phone.present? %>
      <li><label><b>Phone: </b><%= current_account.phone %></label></li>
    <% end %>
    <% if current_account.fax.present? %>
      <li><label><b>Fax: </b><%= current_account.fax %></label></li>
    <% end %>
    <% if current_account.user.email.present? %>
      <li><label><b>Email: </b><%= current_account.user.email %></label></li>
    <% end %>
  </ul>
</div>
