.row
  .small-12.medium-8.large-6.columns.total_amount
    %table
      %tbody
        %tr
          %td Sub Total:
          %td.totals= number_to_currency(@invoice.sub_total)
        %tr
          %td= "#{@invoice.sales_tax}% Sales Tax:"
          %td= number_to_currency(@invoice.services_sales_tax)
        %tr
          %td Total Due:
          %td
            %span.large_red_text= number_to_currency(@invoice.total_cost)

  .small-12.medium-5.large-6.columns.total_amount
    - if @invoice.payments.any?
      %table
        %tbody
          %tr
            %td Payments Total:
            %td.totals= number_to_currency(@invoice.payments_total)
          - unless @invoice.paid_in_full?
            %tr
              %td Balance Due:
              %td
                %span.large_red_text= number_to_currency(@invoice.balance_due)

      - if @invoice.paid_in_full?
        .center= image_pack_tag('paid_in_full.png')
