.row
  .small-12.medium-7.large-6.columns.total_amount
    %table
      %tbody
        %tr
          %td Sub Total:
          %td.totals= number_to_currency(@invoice.sub_total)
        %tr
          %td
            - if params[:action] == 'edit' || params[:action] == 'update'
              = render 'invoices/change_sales_tax'
            -else
              #{@invoice.sales_tax}% Sales Tax:
          %td= number_to_currency(@invoice.services_sales_tax)
        %tr
          %td Total Due:
          %td
            %span.large_red_text= number_to_currency(@invoice.total_cost)

  .small-12.medium-5.large-6.columns.total_amount
    - if @invoice.payments.any?
      %table
        %tbody
          %tr
            %td Payments Total:
            %td.totals= number_to_currency(@invoice.payments_total)
          - if @invoice.not_paid_in_full?
            %tr
              %td Balance Due:
              %td
                %span.large_red_text= number_to_currency(@invoice.balance_due)

      - unless @invoice.not_paid_in_full?
        .center= image_tag('paid_in_full.png')
