<div class="row">
  <div class="small-12 medium-12 large-6 columns total_amount">
    <table>
      <tbody>
      <tr>
        <td class="title">Sub Total:</td><td><%= number_to_currency(@invoice.sub_total) %></td>
      </tr>
      <tr>
        <td>7% Sales Tax:</td><td><%= number_to_currency(@invoice.tax) %></td>
      </tr>
      <tr>
        <td>Total:</td><td><span><%= number_to_currency(@invoice.total_cost) %></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="small-12 medium-12 large-6 columns total_amount">
    <% if @invoice.payments.any? %>
      <table>
        <tbody>
        <tr>
          <td class="title">Payments Total:</td><td><%= number_to_currency(@invoice.payments_total) %></td>
        </tr>
        <% if @invoice.money_is_owed? %>
          <tr>
            <td>Money Owed:</td><td><span><%= number_to_currency(@invoice.money_owed) %></span></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% unless @invoice.money_is_owed? %>
        <div class="center"><%= image_tag('paid_in_full.png') %></div>
      <% end %>
    <% end %>
  </div>
</div>
