<div class="row">
  <div class="small-6 columns total_amount">
    <p>
      Sub Total: <%= number_to_currency(@invoice.sub_total) %> <br>
      7% Sales Tax: <%= number_to_currency(@invoice.tax) %> <br>
      Total: <span><%= number_to_currency(@invoice.total_cost) %></span>
    </p>
  </div>
  <div class="small-6 columns total_amount">
    <p>
      <% if @invoice.payments.any? %>
        Payments Total: <%= number_to_currency(@invoice.payments_total) %> <br>
        <% if @invoice.money_is_owed? %>
          Money Owed: <span><%= number_to_currency(@invoice.money_owed) %></span>
        <% else %>
          <br> <b class="paid_in_full">Paid In Full</b>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
