<div class="row">
  <div class="small-12 medium-12 large-6 columns total_amount">
    <table>
      <tbody>
      <tr>
        <td>Sub Total:</td>
        <td class="totals"><%= number_to_currency(@invoice.sub_total) %></td>
      </tr>
      <tr>
        <td>7% Sales Tax:</td>
        <td><%= number_to_currency(@invoice.tax) %></td>
      </tr>
      <tr>
        <td>Total Due:</td><td><span><%= number_to_currency(@invoice.total_cost) %></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="small-12 medium-12 large-6 columns total_amount">
    <% if @invoice.payments.any? %>
      <table>
        <tbody>
        <tr>
          <td>Payments Total:</td>
          <td class="totals"><%= number_to_currency(@invoice.payments_total) %></td>
        </tr>
        <% if @invoice.not_paid_in_full? %>
          <tr>
            <td>Balance Due:</td>
            <td><span><%= number_to_currency(@invoice.balance_due) %></span></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% unless @invoice.not_paid_in_full? %>
        <div class="center"><%= image_tag('paid_in_full.png') %></div>
      <% end %>
    <% end %>
  </div>
</div>
