.outline
  = form_for @invoice do |f|
    = render 'shared/error_messages', object: f.object

    = render 'invoices/date_tax_fields', f: f

    .row
      .small-12.medium-6.large-6.columns
        %small
          %i
            (NO LEADING ZEROS - A number like "0001" will be converted to "1")
        = f.label :number do
          New Invoice number or
          = link_to edit_account_path(current_account, invoice_id: @invoice.id, anchor: :format_invoice_number) do
            format Invoice number - currently [
            %b= @invoice.pre_post_number
            ]
        = f.number_field :number

    = f.submit 'Update Invoice', class: 'tiny button radius'
