- provide(:title, 'Edit Invoice')

.row
  .small-12.small-centered.columns
    %h1.main_page_header= "Editing Invoice# #{@invoice.number}"
    %br/

    %ul.inline-list
      %li= link_to 'Back to Invoice', invoice_path(@invoice), class: 'small button radius'
      %li= link_to "#{current_account.name} Account", current_account, class: 'small button radius'
      %li= link_to "#{current_account.name} Invoices", invoices_path, class: 'small button radius'

    .outline
      = render 'companies/header'
      .label_size= link_to 'Edit company header', edit_company_path(invoice_id: @invoice.id)

    = render 'invoices/update_form'

    .outline
      = render 'invoices/change_account_header'
      .panel= render 'shared/customer_header'
      .label_size= link_to 'Edit account information', edit_account_path(current_account)

    = render 'invoices/remove_services'
    = render 'invoices/add_services'
