<% provide(:title, 'Edit Invoice') %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1>Editing Invoice</h1>

    <%= render 'sub_header' %>

    <%= render 'remove_services' %>

    <%= render 'totals' %>

    <hr>

    <%= render 'add_services' %>

    <ul class="inline-list">
      <li>
        <%= link_to 'Back to Invoice', invoice_path(@invoice, account_id: @account.id), class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{@account.name} Account", account_path(@account), class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{@account.name} Invoices", invoices_path(account_id: @account.id),
                    class: 'small button radius' %>
      </li>
    </ul>

  </div>
</div>
