<% provide(:title, 'Edit Invoice') %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1>Editing Invoice</h1>

    <ul class="inline-list">
      <li>
        <%= link_to 'Back to Invoice', invoice_path(@invoice), class: 'small button radius' %>
      </li>
      <li>
        <%= link_to 'Edit Company Header', edit_company_path(invoice_id: @invoice.id),
                    class: 'small button radius' %>
      </li>
    </ul>

    <%= render 'shared/company_info' %>

    <%= render 'invoices/change_invoice_date' %>

    <b>Invoice# <%= @invoice.id %></b>

    <%= render 'invoices/change_account_header' %>

    <%= render 'shared/customer_info' %>

    <%= render 'invoices/remove_services' %>

    <%= render 'invoices/totals' %>

    <hr>

    <%= render 'invoices/add_services' %>

    <br>

    <ul class="inline-list">
      <li>
        <%= link_to "#{current_account.name} Account", current_account, class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{current_account.name} Invoices", invoices_path, class: 'small button radius' %>
      </li>
    </ul>

  </div>
</div>
