<% provide(:title, 'Edit Invoice') %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1>Editing Invoice</h1>

    <%= render 'layouts/sub_headers/company_info' %>

    <%= form_for @invoice do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="row">
        <div class="small-3 columns">
          <%= f.text_field :invoice_date, class: 'datePicker', placeholder: 'Date' %>
        </div>
        <div class="small-3 small-pull-6 columns">
          <%= f.submit 'Update Date', class: 'tiny button radius' %>
        </div>
      </div>
    <% end %>

    <b>Invoice# <%= @invoice.id %></b>

    <%= render 'layouts/sub_headers/customer_info' %>

    <%= render 'remove_services' %>

    <%= render 'totals' %>

    <hr>

    <%= render 'add_services' %>

    <ul class="inline-list">
      <li>
        <%= link_to 'Back to Invoice', invoice_path(@invoice), class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{current_account.name} Account", current_account, class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{current_account.name} Invoices", invoices_path, class: 'small button radius' %>
      </li>
    </ul>

  </div>
</div>
