<% provide(:title, raw("#{current_account.name} Invoices")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1><%= "#{current_account.name} Invoices" %></h1>

    <table>
      <thead>
        <tr>
          <th>Invoice#</th>
          <th>Created at</th>
          <th>Sub Total</th>
          <th>Total</th>
          <% if current_user.is_admin? %>
            <th>Edit</th>
            <th>Destroy</th>
          <% end %>
        </tr>
      </thead>

      <% @invoices.each do |invoice| %>
        <tbody>
          <tr>
            <td class="center_cell">
              <%= link_to invoice_path(invoice) do %>
                <i class="page fi-page"> <b><%= invoice.id %></b></i>
              <% end %>
            </td>
            <td><%= invoice.created_at.strftime("%Y-%b-%d") %></td>
            <td><%= number_to_currency(invoice.sub_total) %></td>
            <td><%= number_to_currency(invoice.total_cost) %></td>
            <% if current_user.is_admin? %>
              <td class="center_cell">
                <%= link_to edit_invoice_path(invoice) do %>
                  <i class="page fi-page-edit"></i>
                <% end %>
              </td>
              <td class="center_cell">
                <%= link_to invoice,
                            method: :delete,
                            confirm: 'Are you sure? This will permanently delete your invoice information.'  do %>
                  <i class="general fi-x"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>

    <%= paginate @invoices %>

    <br>

    <ul class="inline-list">
      <% if current_user.is_admin? %>
        <li>
          <%= link_to 'Account Listings', accounts_path, class: 'small button radius' %>
        </li>
      <% end %>
      <li>
        <%= link_to "#{current_account.name} Account", current_account, class: 'small button radius' %>
      </li>
    </ul>

  </div>
</div>
