<% provide(:title, raw("#{@account.name} Invoices")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1><%= "#{@account.name} Invoices" %></h1>

    <table>
      <thead>
        <tr>
          <th>Created at</th>
          <th>Invoice#</th>
          <th>Sub Total</th>
          <th>Total</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <% @invoices.each do |invoice| %>
        <tbody>
          <tr>
            <td><%= link_to invoice.created_at.strftime("%Y-%b-%d"), account_invoice_path(@account, invoice) %></td>
            <td><%= invoice.id %></td>
            <td><%= number_to_currency(invoice.sub_total) %></td>
            <td><%= number_to_currency(invoice.total_cost) %></td>
            <td class="center_cell">
              <%= link_to edit_account_invoice_path(@account, invoice) do %>
                <i class="page fi-page-edit"></i>
              <% end %>
            </td>
            <td class="center_cell">
              <%= link_to [@account, invoice],
                          method: :delete,
                          confirm: 'Are you sure? This will permanently delete your invoice information.'  do %>
                <i class="general fi-x"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>

    <%= paginate @invoices %>

    <br>

    <ul class="inline-list">
      <li>
        <%= link_to 'Account Listings', accounts_path, class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{@account.name} Account", @account, class: 'small button radius' %>
      </li>
    </ul>

  </div>
</div>