- provide(:title, raw("#{current_account.name} Invoices"))

.row
  .small-12.small-centered.columns
    %h1.main_page_header #{current_account.name} Invoices

    = render 'table'

    = paginate @invoices
    %br/

    %ul.inline-list
      - if current_user.is_admin?
        %li= link_to 'Account Listings', accounts_path, class: 'small button radius'
      %li= link_to "#{current_account.name} Account", current_account, class: 'small button radius'
