- provide(:title, 'New Invoice')

.row
  .small-12.columns
    %h1.main_page_header New Invoice
    %br/

    .outline
      = render 'companies/header'
      .label_size= link_to 'Edit company header', edit_company_path

    = form_for @invoice do |f|
      = render 'shared/error_messages', object: f.object

      = render 'date_tax_fields', f: f

      = f.fields_for(:account, @invoice.account) do |account_f|
        = render 'accounts/fields_for_account', f: account_f

        = account_f.fields_for(:user, @invoice.account.user) do |user_f|
          .row
            .small-12.medium-6.large-6.columns
              = user_f.label :name, "Contact's (Full name)"
              = user_f.text_field :name, placeholder: 'John Smith'

            .small-12.medium-6.large-6.columns
              = user_f.label :email
              = user_f.text_field :email

        = render 'shared/address_fields', f: account_f

      .row
        .small-12.columns
          = f.submit class: 'tiny button radius'
