- provide(:title, 'New Invoice')

.row
  .small-12.columns
    %h1.main_page_header New Invoice
    %br/

    .outline
      = render 'companies/header'
      .label_size= link_to 'Edit company header', edit_company_path

    .panel
      %h4 Invoice For:

    = form_for @invoice do |f|
      = render 'shared/error_messages', object: f.object

      = render 'date_tax_fields', f: f

      .row
        .small-12.columns
          = f.submit class: 'tiny button radius'
