<% provide(:title, raw("#{current_account.name} Invoice #{@invoice.id}")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <%= render 'shared/company_info' %>

    <b><%= @invoice.established_at.strftime("%Y-%b-%d") %></b><br>

    <b>Invoice# <%= @invoice.id %></b>

    <%= render 'shared/customer_info' %>

    <table>
      <thead>
        <tr>
          <th>Date performed</th>
          <th>Service cost</th>
        </tr>
      </thead>

      <h4>Cleaning Services</h4>

      <% @services.reverse_order.each do |service| %>
        <% if service.persisted? %>
          <tbody>
            <tr>
              <td class="title"><%= service.performed_on.strftime("%Y-%b-%d") %></td>
              <td><%= number_to_currency(service.cost) %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>

    <%= render 'invoices/totals' %>

    <ul class="inline-list hide_on_print">
      <% if current_user.is_admin? %>
        <li>
          <%= link_to 'Edit Invoice', edit_invoice_path(@invoice), class: 'small button radius' %>
        </li>
      <% end %>
      <li>
        <%= link_to "#{current_account.name} Account", current_account, class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{current_account.name} Invoices", invoices_path, class: 'small button radius' %>
      </li>
    </ul>

    <div class="row">
      <div class="small-12 columns hide_on_print">
        <%= link_to 'Apply Payment',
                    new_invoice_payment_path(@invoice),
                    class: 'small button radius',
                    id: 'apply_payment',
                    remote: true if current_user.is_admin? %>
      </div>
    </div>

    <%= render 'payments/payments' if @invoice.payments.any? %>

  </div>
</div>
