<% provide(:title, raw("#{@account.name} Invoice #{@invoice.id}")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h3><%= @account.company.name %></h3>

    <div class="small-12 columns">
      <ul class="inline-list small">
        <li><label><b>Owner: </b><%= @account.company.users.find(1).name %></label></li>
        <li><label><b>Address: </b><%= @account.company.full_address %></label></li>
        <li><label><b>Phone: </b><%= @account.company.phone %></label></li>
        <% if @account.company.fax.present? %>
          <li><label><b>Fax: </b><%= @account.company.fax %></label></li>
        <% end %>
        <% if @account.company.users.first.email.present? %>
          <li><label><b>Email: </b><%= @account.company.users.find(1).email %></label></li>
        <% end %>
      </ul>
    </div>

    <b>Invoice# <%= @invoice.id %></b>

    <div class="panel">
      <ul class="inline-list">
        <li><label><b>Account name: </b><%= @account.name %></label></li>
        <li><label><b>Invoice for: </b><%= @account.user.name %></label></li>
        <% if @account.full_address.present? %>
          <li><label><b>Address: </b><%= @account.full_address %></label></li>
        <% end %>
        <% if @account.phone.present? %>
          <li><label><b>Phone: </b><%= @account.phone %></label></li>
        <% end %>
        <% if @account.fax.present? %>
          <li><label><b>Fax: </b><%= @account.fax %></label></li>
        <% end %>
        <% if @account.user.email.present? %>
          <li><label><b>Email: </b><%= @account.user.email %></label></li>
        <% end %>
      </ul>
    </div>

    <table class="small-12">
      <thead>
        <tr>
          <th>Item#</th>
          <th>Date performed</th>
          <th>Service cost</th>
        </tr>
      </thead>

      <% @services.each_with_index do |service, i| %>
        <% if service.persisted? %>
          <tbody>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= service.performed_on.strftime("%Y-%b-%d") %></td>
              <td><%= number_to_currency(service.price) %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>

    <div class="row">
      <div class="small-12 columns total_amount">
        <p>
          Sub Total: <%= number_to_currency(@invoice.sub_total) %> <br>
          7% Sales Tax: <%= number_to_currency(@invoice.tax) %> <br>
          Total: <span><%= number_to_currency(@invoice.total_cost) %></span>
        </p>
      </div>
    </div>

    <ul class="inline-list">
      <li><%= link_to "#{@account.name} Account",
                      account_path(@account),
                      class: 'small button radius hide_on_print' %></li>
      <li><%= link_to "#{@account.name} Invoices",
                      account_invoices_path(@account),
                      class: 'small button radius hide_on_print' %></li>
    </ul>

  </div>
</div>