<% provide(:title, raw("#{@account.name} Invoice #{@invoice.id}")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <%= render 'sub_header' %>

    <table>
      <thead>
        <tr>
          <th>Date performed</th>
          <th>Service cost</th>
        </tr>
      </thead>

      <% @services.each do |service| %>
        <% if service.persisted? %>
          <tbody>
            <tr>
              <td><%= service.performed_on.strftime("%Y-%b-%d") %></td>
              <td><%= number_to_currency(service.price) %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>

    <%= render 'totals' %>

    <ul class="inline-list hide_on_print">
      <li>
        <%= link_to 'Edit Invoice', edit_account_invoice_path(@account, @invoice), class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{@account.name} Account", account_path(@account), class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{@account.name} Invoices", account_invoices_path(@account), class: 'small button radius' %>
      </li>
    </ul>

  </div>
</div>
