<% provide(:title, raw("#{current_account.name} Invoice #{@invoice.id}")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <% if current_company.logo? %>
      <div class="row">
        <div class="small-12 medium-7 large-7 columns">
          <%= render 'shared/company_info' %>
        </div>
        <div class="small-12 medium-5 large-5 columns">
          <br>
          <%= image_tag current_company.logo_url(:thumb), class: 'right' if current_company.logo? %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="small-12 columns">
          <%= render 'shared/company_info' %>
        </div>
      </div>
    <% end %>

    <b><%= @invoice.established_at.strftime('%Y-%b-%d') %></b><br>

    <b>Invoice# <%= @invoice.id %></b>

    <%= render 'shared/customer_info' %>

    <h4><%= current_company.service_provided! %></h4>

    <table>
      <thead>
        <tr>
          <th>Date performed</th>
          <th>Memo</th>
          <th>Service cost</th>
        </tr>
      </thead>

      <% @services.reverse_order.each do |service| %>
        <% if service.persisted? %>
          <tbody>
            <tr>
              <td><%= service.performed_on.strftime('%Y-%b-%d') %></td>
              <td><%= service.memo %></td>
              <td class="totals"><%= number_to_currency(service.cost) %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>

    <%= render 'invoices/totals' %>

    <ul class="inline-list hide_on_print">
      <% if current_user.is_admin? %>
        <li>
          <%= link_to 'Edit Invoice', edit_invoice_path(@invoice), class: 'small button radius' %>
        </li>
      <% end %>
      <% if current_user.is_owner? %>
        <li>
          <%= link_to 'Delete Invoice', @invoice,
                      class: 'small alert button radius',
                      method: :delete,
                      confirm: 'Are you sure? This will permanently DELETE your INVOICE information and all PAYMENTS applied to the INVOICE! Any SERVICES applied to the INVOICE will become available to be invoiced again on the clients ACCOUNT page.' %>
        </li>
      <% end %>
      <li>
        <%= link_to "#{current_account.name} Account", current_account, class: 'small button radius' %>
      </li>
      <li>
        <%= link_to "#{current_account.name} Invoices", invoices_path, class: 'small button radius' %>
      </li>
    </ul>

    <div class="row">
      <div class="small-12 columns hide_on_print">
        <%= link_to 'Apply Payment',
                    new_invoice_payment_path(@invoice),
                    class: 'small button radius',
                    id: 'apply_payment',
                    remote: true if current_user.is_admin? %>
      </div>
    </div>

    <%= render 'payments/payments' if @invoice.payments.any? %>

  </div>
</div>
