= form_for(@inventory_item) do |f|
  = render 'shared/error_messages', object: f.object
  = f.hidden_field :company_id, value: current_company.id

  .row
    .small-12.medium-6.large-6.columns
      = f.label :item
      = f.text_field :item, autofocus: true

  .row
    .small-12.medium-2.large-3.columns
      = f.label :unit_amount
      = f.number_field :unit_amount, step: 0.001, placeholder: '0.000'
    .small-12.medium-4.large-5.columns
      = f.label :unit_type
      = f.collection_select :unit_type, current_company.units, :name, :name, :prompt => 'Select a Unit Type'
    .small-12.medium-6.large-4.columns
      = link_to 'or create new unit type', new_unit_path, class: 'large secondary button radius'

  .row
    .small-12.medium-6.large-6.columns
      = f.label :serial_number
      = f.text_field :serial_number
    .small-12.medium-6.large-6.columns
      = f.label :description
      = f.text_field :description

  .panel
    .row
      .small-12.medium-6.large-6.columns
        = f.label :tag_list, 'Tags (separate by commas)'
        = f.text_field :tag_list, placeholder: 'Create new tag(s) or use available tags.'
      .small-12.medium-6.large-6.columns
        %b Available tags:
        = current_company.available_tags

  .row
    .small-12.medium-6.large-6.columns
      = f.submit class: 'button radius expand'
