= form_for(@inventory_item) do |f|
  = render 'shared/error_messages', object: f.object
  = f.hidden_field :company_id, value: current_company.id

  .row
    .small-12.medium-6.large-6.columns
      = f.label :item
      = f.text_field :item, autofocus: true
    .small-12.medium-6.large-6.columns
      = f.label :unit_amount
      = f.number_field :unit_amount

  .row
    .small-12.medium-6.large-6.columns
      = f.label :serial_number
      = f.text_field :serial_number
    .small-12.medium-6.large-6.columns
      = f.label :description
      = f.text_field :description

  .panel
    .row
      .small-12.medium-6.large-6.columns
        = f.label :tag_list, 'Tags (separate by commas)'
        = f.text_field :tag_list, placeholder: 'Create new tag(s) or use available tags.'
      .small-12.medium-6.large-6.columns
        %b Available tags:
        = current_company.available_tags

  .row
    .small-12.medium-6.large-6.columns
      = f.submit class: 'button radius expand'
