<h1>Listing inventory items</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Unit amount</th>
    <th>Serial number</th>
    <th>Description</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_items.each do |inventory_item| %>
  <tr>
    <td><%= inventory_item.item %></td>
    <td><%= inventory_item.unit_amount %></td>
    <td><%= inventory_item.serial_number %></td>
    <td><%= inventory_item.description %></td>
    <td><%= inventory_item.company_id %></td>
    <td><%= link_to 'Show', inventory_item %></td>
    <td><%= link_to 'Edit', edit_inventory_item_path(inventory_item) %></td>
    <td><%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory Item', new_inventory_item_path %>
