- provide(:title, 'Inventory Items')

.row
  .small-12.columns
    #tag_cloud
      %ul.inline-list.pad-top
        %li= link_to 'New Inventory Item', new_inventory_item_path, class: 'tiny button radius'
        - if params[:tag]
          %li= link_to 'Clear Search', inventory_items_path, class: 'tiny button radius alert'

      - tag_cloud current_company.tag_counts, %w[s m l] do |tag, css_class|
        = link_to tag.name, tag_path(tag.name), class: css_class

    %h1.main_page_header= "#{current_company.name} Inventory Items"

    .scroll_overflow-x
      %table
        %thead
          %tr
            %th Item
            %th Unit amount
            %th Serial number
            %th Description
            %th Tags
            %th Edit
            %th Destroy

        %tbody
          - @inventory_items.each do |inventory_item|
            %tr
              %td= inventory_item.item
              %td= inventory_item.unit_amount
              %td= inventory_item.serial_number
              %td= inventory_item.description
              %td= raw inventory_item.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')
              %td.center_cell
                = link_to edit_inventory_item_path(inventory_item) do
                  %i.page.fi-page-edit
              %td.center_cell
                = link_to inventory_item, method: :delete,
                confirm: 'Are you sure? This will permanently DELETE your Inventory Item!'  do
                  %i.general.fi-x

    = paginate @inventory_items
    %br/
