- provide(:title, 'Change Password')

.row
  .small-12.medium-6.large-6.small-centered.columns
    %h2.main_page_header Change your password
    .panel

      = form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        = f.label :password, 'New password'
        = f.password_field :password, autofocus: true
        = f.label :password_confirmation, 'Confirm new password'
        = f.password_field :password_confirmation
        %br/

        = f.submit 'Change my password', class: 'button radius expand'

      = render 'devise/shared/links'
