.row
  .small-12.medium-6.large-6.columns
    = f.label :address_1
    = f.text_field :address_1

  .small-12.medium-6.large-6.columns
    = f.label :address_2
    = f.text_field :address_2

.row
  .small-12.medium-6.large-6.columns
    = f.label :city
    = f.text_field :city

  .small-6.medium-3.large-3.columns
    = f.label :state
    = f.text_field :state

  .small-6.medium-3.large-3.columns
    = f.label :zip
    = f.text_field :zip

.row
  .small-12.medium-6.large-6.columns
    = f.label :phone
    = f.text_field :phone

  .small-12.medium-6.large-6.columns
    = f.label :fax
    = f.text_field :fax
