<% unless params[:controller] == 'companies' && params[:action] == 'about' %>
  <h3><%= current_company.name %></h3>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <ul class="small-text no_bullets">
      <li><label><b>Owner: </b><%= current_company.owner.name %></label></li>
      <li><label><b>Address: </b><%= current_company.full_address %></label></li>
      <li><label><b>Phone: </b><%= current_company.phone %></label></li>
      <% if current_company.fax.present? %>
        <li><label><b>Fax: </b><%= current_company.fax %></label></li>
      <% end %>
      <li><label><b>Email: </b><%= current_company.owner.email %></label></li>
      <% if current_company.license_number.present? %>
        <li><label><b>License #: </b><%= current_company.license_number %></label></li>
      <% end %>
    </ul>
  </div>
</div>
