.row
  .small-12.columns
    = image_tag 'ManOnFire_WebDesign_Header_medium.png'
    %h1.main_page_header Developer Dashboard
    %br/

    %h3 Users
    %ul.no_bullets
      %li
        Number of users:
        %b= User.all.count
      %li
        Number of company owners:
        %b= User.where(is_owner: true).count

    .scroll_overflow-x
      %table
        %thead
          %tr
            %th User Name
            %th Email
            %th ID
            %th Comp ID
            %th Owner
            %th Admin
            %th Sign in count
            %th Last sign in at
        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.email
              %td= user.id
              %td= user.company_id
              %td= yes_or_no(user.is_owner?)
              %td= yes_or_no(user.is_admin?)
              %td= user.sign_in_count unless user.sign_in_count.nil?
              %td= user.last_sign_in_at.strftime('%Y-%b-%d @ %I:%M%p') unless user.last_sign_in_at.nil?

    = paginate @users
