<%= form_for @company, url: company_path, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="small-12 medium-6 large-6 columns">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>
  </div>

  <%= render 'shared/address_fields', f: f %>

  <%= render 'optional_company_field', f: f %>

  <div class="row">
    <div class="small-12 medium-6 large-6 columns">
      <%= f.submit class: 'button radius expand' %>
    </div>
  </div>
<% end %>
