.row
  .small-12.medium-4.large-4.push-8.columns
    .visible-for-small-only
      = logo_or_default
    .visible-for-medium-up
      .right= logo_or_default

  .small-12.medium-8.large-8.pull-4.columns
    %h3= current_company.name
    %ul.small-text.no_bullets
      %li
        %label
          %b Owner:
          = current_company.owner.name
      - if current_company.full_address.present?
        %li
          %label
            %b Address:
            = current_company.full_address
      - if current_company.phone.present?
        %li
          %label
            %b Phone:
            = current_company.phone
      - if current_company.fax.present?
        %li
          %label
            %b Fax:
            = current_company.fax
      %li
        %label
          %b Email:
          = current_company.owner.email
      - if current_company.website.present?
        %li
          %label
            %b Website:
            = current_company.website
      - if current_company.license_number.present?
        %li
          %label
            %b License #:
            = current_company.license_number
