.row.hide_on_print
  = form_tag quarterly_report_company_path, method: :get do
    .small-12.medium-3.large-3.columns
      = label_tag 'date_year', 'Year'
      = select_date(active_date, discard_month: true, discard_day: true)

    .small-12.medium-3.large-3.columns
      = label_tag :view_quarter, 'Quarter'
      = select_tag :view_quarter, options_for_select([['1st', 1],
      ['2nd', 4],
      ['3rd', 7],
      ['4th', 10]], selected: view_quarter)

    .small-12.medium-3.large-3.medium-pull-3.large-pull-3.columns.inline-tiny-button
      = submit_tag 'Select Quarter to View', class: 'tiny button radius expand', name: nil
