- provide(:title, 'Income Report')

.row
  .small-12.columns
    = render 'companies/header'
    = render 'report_for_form'
    = render "select_#{quarter_or_year}_form"
    = render "report_for_#{quarter_or_year}"
