<h1>Listing companies</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Fax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @company %>
  <tr>
    <td><%= @company.company_name %></td>
    <td><%= @company.address_1 %></td>
    <td><%= @company.address_2 %></td>
    <td><%= @company.city %></td>
    <td><%= @company.state %></td>
    <td><%= @company.zip %></td>
    <td><%= @company.phone %></td>
    <td><%= @company.fax %></td>
    <td><%= link_to 'Show', @company %></td>
    <td><%= link_to 'Edit', edit_company_path(@company) %></td>
    <td><%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
