<% provide(:title, 'Quarterly Report') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Quarterly Report</h1>

    <div class="row">
      <!-- Active Date Form -->
      <%= form_tag quarterly_report_company_path(@company), method: :get do %>
        <div class="small-6 medium-3 large-3 columns">
          <%= select_date(active_date, discard_month: true, discard_day: true) %>
        </div>
        <div class="small-6 medium-3 large-3 columns">
          <%= submit_tag "Select #{view_by.capitalize} to View", class: 'tiny button radius', name: nil %>
        </div>
      <% end %>

      <!-- Select Quarter -->
      <%= form_tag quarterly_report_company_path(@company), method: :get do %>
        <div class="small-6 medium-3 large-3 columns">
          <%= label_tag :view_quarter, 'Quarter to view' %>
          <%= select_tag :view_quarter, options_for_select([['1st', 1],
                                                            ['2nd', 4],
                                                            ['3rd', 7],
                                                            ['4th', 10]], selected: view_quarter) %>
        </div>
        <div class="small-6 medium-3 large-3 columns">
          <%= submit_tag 'Select Quarter', class: 'tiny button radius', name: nil %>
        </div>
      <% end %>
    </div>

    <table>
      <thead>
      <tr>
        <th>Account</th>
        <th><%= viewing_quarter %> quarter totals</th>
      </tr>
      </thead>

      <% @accounts.each do |account| %>
        <tbody>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.accounts_totals(active_date, view_quarter) %></td>
        </tr>
        </tbody>
      <% end %>
    </table>

  </div>
</div>
