<% provide(:title, 'Quarterly Report') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Quarterly Report</h1>

    <%= render 'view_quarter_by' %>

    <table>
      <thead>
      <tr>
        <th>Account</th>
        <th><%= month_in_quarter_date(0).strftime('%B') %> totals</th>
        <th><%= month_in_quarter_date(1).strftime('%B') %> totals</th>
        <th><%= month_in_quarter_date(2).strftime('%B') %> totals</th>
      </tr>
      </thead>

      <% @accounts.each do |account| %>
        <tbody>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.account_month_total(month_in_quarter_date(0)) %></td>
          <td><%= account.account_month_total(month_in_quarter_date(1)) %></td>
          <td><%= account.account_month_total(month_in_quarter_date(2)) %></td>
        </tr>
        </tbody>
      <% end %>
    </table>

  </div>
</div>
