<% provide(:title, 'Quarterly Report') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Quarterly Report</h1>

    <%= render 'view_quarter_by_form' %>

    <table>
      <thead>
      <tr>
        <th><%= 'Account'.pluralize(@accounts.count) %></th>
        <th><%= month_in_quarter_date(0).strftime('%B') %> totals</th>
        <th><%= month_in_quarter_date(1).strftime('%B') %> totals</th>
        <th><%= month_in_quarter_date(2).strftime('%B') %> totals</th>
      </tr>
      </thead>

      <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= number_to_currency(account.account_month_total(month_in_quarter_date(0))) %></td>
          <td><%= number_to_currency(account.account_month_total(month_in_quarter_date(1))) %></td>
          <td><%= number_to_currency(account.account_month_total(month_in_quarter_date(2))) %></td>
        </tr>
      <% end %>

      <tr class="divider-line">
        <td><b>Month Totals</b></td>
        <td><b><%= number_to_currency(current_company.company_month_total(month_in_quarter_date(0))) %></b></td>
        <td><b><%= number_to_currency(current_company.company_month_total(month_in_quarter_date(1))) %></b></td>
        <td><b><%= number_to_currency(current_company.company_month_total(month_in_quarter_date(2))) %></b></td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="small-12 columns total_amount">
        <ul class="inline-list">
          <li>
            <label>Taxes applied to total:
              <span><%= number_to_currency(@company.taxes_applied(active_date, view_quarter)) %></span></label>
          </li>
          <li>
            <label><%= "#{for_quarter} quarter total:" %>
              <span><%= number_to_currency(@company.sum_quarter(active_date, view_quarter)) %></span></label>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
