- provide(:title, 'Quarterly Report')

.row
  .small-12.columns
    = render 'shared/company_info'
    = render 'view_quarter_by_form'

    %h4
      = "Quarterly Report - #{active_date.year}"
      %small= "#{quarter_name} Quarter"

    %table
      %thead
        %tr
          %th= 'Account'.pluralize(@accounts.count)
          %th= month_in_quarter_date(0).strftime('%B')
          %th= month_in_quarter_date(1).strftime('%B')
          %th= month_in_quarter_date(2).strftime('%B')
          %th Account totals

      %tbody
        - @accounts.each do |account|
          %tr
            %td= account.name
            %td= number_to_currency(account.account_month_total(month_in_quarter_date(0)))
            %td= number_to_currency(account.account_month_total(month_in_quarter_date(1)))
            %td= number_to_currency(account.account_month_total(month_in_quarter_date(2)))
            %td= number_to_currency(account.account_quarter_total(view_quarter_date))
        %tr.divider-line
          %td
            %b Totals
          %td
            %b= number_to_currency(current_company.company_month_total(month_in_quarter_date(0)))
          %td
            %b= number_to_currency(current_company.company_month_total(month_in_quarter_date(1)))
          %td
            %b= number_to_currency(current_company.company_month_total(month_in_quarter_date(2)))
          %td.red_text
            %b= number_to_currency(current_company.company_quarter_total(view_quarter_date))

    .row
      .small-12.columns.total_amount
        %ul.inline-list
          %li
            %label
              = "#{quarter_name} quarter total amount received:"
              %span.large_red_text= number_to_currency(current_company.company_quarter_total(view_quarter_date))
          %li
            %label
              Total less taxes applied:
              %span.large_red_text= number_to_currency(current_company.quarterly_total_less_taxes(view_quarter_date))
          %li
            %label
              Taxes applied to total:
              %span.large_red_text= number_to_currency(current_company.quarterly_taxes_applied(view_quarter_date))
