<% provide(:title, 'Quarterly Report') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Quarterly Report</h1>

    <%= render 'view_quarter_by' %>

    <table>
      <thead>
      <tr>
        <th>Account</th>
        <th><%= Date.new(active_date.year, view_quarter, 1).strftime('%B') %> totals</th>
        <th><%= Date.new(active_date.year, view_quarter + 1, 1).strftime('%B') %> totals</th>
        <th><%= Date.new(active_date.year, view_quarter + 2, 1).strftime('%B') %> totals</th>
      </tr>
      </thead>

      <% @payments.each do |payment| %>
        <tbody>
        <tr>
          <td><%= payment.account.name %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      <% end %>
    </table>

  </div>
</div>
