- provide(:title, 'Search Invoices')

.row
  .small-12.columns
    %h1.main_page_header Search Invoices
    %br/

    .row
      = form_tag search_invoices_company_path, method: :get do
        .small-6.medium-3.large-3.columns
          = number_field_tag :search, params[:search], placeholder: 'Enter Invoice#'
        .small-6.medium-3.large-3.medium-pull-6.large-pull-6.columns
          = submit_tag 'Search for Invoice', class: 'tiny button radius', name: nil

    = render 'companies/invoices_table'

    = paginate @invoices
