- provide(:title, 'Search Invoices')

.row
  .small-12.columns
    %h1.main_page_header Search Invoices
    %br/

    .row
      = form_tag search_invoices_company_path, :method => 'get' do
        .small-6.medium-3.large-3.columns
          = number_field_tag :search, params[:search], placeholder: 'Enter Invoice#'
        .small-6.medium-3.large-3.medium-pull-6.large-pull-6.columns
          = submit_tag 'Search for Invoice', class: 'tiny button radius', :name => nil

    .scroll_overflow-x
      %table
        %thead
          %tr
            %th Account
            %th Contact name
            %th Invoice #
            %th Date
            %th Total
            %th Balance due

        %tbody
          - @invoices.each do |invoice|
            %tr
              %td= link_to invoice.account.name, account_path(invoice.account)
              %td= invoice.account.user.name
              %td.center_cell
                = link_to invoice_path(invoice, account_id: invoice.account_id) do
                  %i.page.fi-page
                    %b= invoice.number
              %td= invoice.established_at.strftime('%Y-%b-%d')
              %td= number_to_currency(invoice.total_cost)
              %td{class: "no_action_required_#{invoice.paid_in_full?}"}
                = pif_or_invoice(invoice)

    = paginate @invoices
