<% provide(:title, @company.name) %>

<div class="row">
  <div class="small-12 columns">

    <%= render 'shared/company_info' %>

    <% unless @company.accounts.any? %>
      <div class="row">
        <div class="small-8 small-centered columns">
          <%= link_to 'Get Started', new_account_path, class: 'large button radius expand' %>
        </div>
      </div>
    <% end %>

    <ul class="inline-list">
      <% if current_user.is_owner? %>
        <li><%= link_to 'Invite New Admin', new_user_invitation_path, class: 'small button radius' %></li>
        <li><%= link_to 'Edit Company', edit_company_path, class: 'small button radius' %></li>
      <% end %>
      <li><%= link_to 'Accounts Listing', accounts_path, class: 'small button radius' %></li>
    </ul>

    <% if @company.by_admin.count > 1 %>
      <h3>Admins</h3>

      <Table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <% if current_user.is_owner? %>
            <th>Delete</th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @company.by_admin.each do |user| %>
          <% unless user.is_owner? %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <% if current_user.is_owner? %>
                <td class="center_cell">
                  <%= link_to delete_user_company_path(user), method: :delete, confirm: 'Are you sure? This will permanently DELETE your Admin and all there information'  do %>
                    <i class="general fi-x"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </Table>
    <% end %>
  </div>

  <%= render :partial => 'roles_explanation' %>
</div>
