<% provide(:title, @company.name) %>

<div class="row">
  <div class="small-12 columns">
    <h1><%= @company.name %></h1>

    <ul class="small-text no_bullets">
      <li><label><b>Owner:</b> <%= @company.owner.name %></label></li>
      <li><label><b>Address: </b><%= @company.full_address %></label></li>
      <li><label><b>Phone: </b><%= @company.phone %></label></li>
      <% if @company.fax.present? %>
        <li><label><b>Fax: </b><%= @company.fax %></label></li>
      <% end %>
      <li><label><b>Email: </b><%= @company.owner.email %></label></li>
    </ul>

    <ul class="inline-list">
      <% if current_user.is_owner? %>
        <li><%= link_to 'Edit Company', edit_company_path, class: 'small button radius' %></li>
        <li>
          <%= link_to 'Destroy Company', @company,
                      class: 'small alert button radius',
                      method: :delete,
                      confirm: 'Are you sure? This will permanently DELETE your COMPANY information and all ACCOUNTS, ADMINS, CUSTOMERS, SERVICES, INVOICES, and PAYMENTS attached to your COMPANY!' %>
        </li>
        <li>
          <%= link_to 'Invite New Admin', new_user_invitation_path, class: 'small button radius' %>
        </li>
      <% end %>
      <li><%= link_to 'Accounts Listing', accounts_path, class: 'small button radius' %></li>
    </ul>

    <% if @company.by_admin.count > 1 %>
      <h3>Admins</h3>

      <Table>
        <thead>
        <tr>
          <th>name</th>
          <th>Email</th>
          <% if current_user.is_owner? %>
            <th>Delete</th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @company.by_admin.each do |user| %>
          <% unless user.is_owner? %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <% if current_user.is_owner? %>
                <td class="center_cell">
                  <%= link_to delete_user_company_path(user), method: :delete, confirm: 'Are you sure? This will permanently DELETE your Admin and all there information'  do %>
                    <i class="general fi-x"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </Table>
    <% end %>
  </div>

  <%= render :partial => 'roles_explanation' %>
</div>
