<% provide(:title, @company.name) %>

<br>

<div class="row">
  <div class="small-12 medium-8 large-8 small-centered columns panel">

    <h1><%= @company.name %></h1>

    <dl>
      <dt><%= 'Admin'.pluralize(@company.admins.count) %>:</dt>
      <dd>
        <%= @company.admins.map(&:name).join(', ') %>
      </dd>
      <dt>Address:</dt>
      <dd><%= @company.full_address %></dd>
      <dt>Phone:</dt>
      <dd><%= @company.phone %></dd>
      <% if @company.fax.present? %>
        <dt>Fax:</dt>
        <dd><%= @company.fax %></dd>
      <% end %>
    </dl>

    <br>

    <ul class="inline-list">
      <li><%= link_to 'Edit', edit_company_path, class: 'small button radius' %></li>
      <li><%= link_to 'Accounts listing', accounts_path, class: 'small button radius' %></li>
    </ul>

  </div>
</div>
