<% provide(:title, @company.name) %>

<div class="row">
  <div class="small-12 columns">

    <h1><%= @company.name %></h1>

    <ul class="small-text no_bullets">
      <li><label><b>Owner:</b> <%= @company.owner.name %></label></li>
      <li><label><b>Address: </b><%= current_company.full_address %></label></li>
      <li><label><b>Phone: </b><%= current_company.phone %></label></li>
      <% if current_company.fax.present? %>
        <li><label><b>Fax: </b><%= current_company.fax %></label></li>
      <% end %>
      <li><label><b>Email: </b><%= current_company.owner.email %></label></li>
    </ul>

    <ul class="inline-list">
      <% if current_user.is_owner? %>
        <li><%= link_to 'Edit Company', edit_company_path, class: 'small button radius' %></li>
      <% end %>
      <li><%= link_to 'Accounts listing', accounts_path, class: 'small button radius' %></li>
    </ul>

    <%= link_to 'Invite admin', new_user_invitation_path, class: 'tiny button radius' if current_user.is_owner? %>

    <% if @company.by_admin.count > 1 %>
      <h3>Admins</h3>

      <Table>
        <thead>
        <tr>
          <th>name</th>
          <th>Email</th>
          <% if current_user.is_owner? %>
            <th>Delete</th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @company.by_admin.each do |user| %>
          <% unless user.is_owner? %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <% if current_user.is_owner? %>
                <td class="center_cell">
                  <%= link_to delete_user_company_path(user), method: :delete, confirm: 'Are you sure? This will permanently DELETE your Admin and all there information'  do %>
                    <i class="general fi-x"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </Table>
    <% end %>

  </div>
</div>
