<% provide(:title, @company.name) %>

<div class="row">
  <div class="small-12 columns">

    <h1><%= @company.name %></h1>
    <h2><%= current_user.email %></h2>

    <ul class="vcard">
      <li class="fn"><%= @company.name %></li>
      <li><%= @company.address_1 %></li>
      <li><%= @company.address_2 %></li>
      <li><%= @company.city %></li>
      <li><span><%= @company.state %></span>, <span><%= @company.zip %></span></li>
      <li><%= @company.phone %></li>
      <li><%= @company.fax %></li>
    </ul>

    <br>

    <%= link_to 'Accounts', accounts_path %>

  </div>
</div>
