- provide(:title, 'Yearly Report')

.row
  .small-12.columns
    = render 'shared/company_info'
    = render 'select_year_form'

    %h4= "Yearly Report - #{active_date.year}"

    .scroll_overflow-x
      %table
        %thead
          %tr
            %th= 'Account'.pluralize(@accounts.count)
            %th First quarter
            %th Second quarter
            %th Third quarter
            %th Fourth quarter
            %th Account totals
        %tbody
          - @accounts.each do |account|
            %tr
              %td= account.name
              %td= number_to_currency(account.account_quarter_total(yearly_date(1)))
              %td= number_to_currency(account.account_quarter_total(yearly_date(4)))
              %td= number_to_currency(account.account_quarter_total(yearly_date(7)))
              %td= number_to_currency(account.account_quarter_total(yearly_date(10)))
              %td= number_to_currency(account.account_year_total(active_date))
          %tr.divider-line
            %td
              %b Totals
            %td
              %b= number_to_currency(current_company.company_quarter_total(yearly_date(1)))
            %td
              %b= number_to_currency(current_company.company_quarter_total(yearly_date(4)))
            %td
              %b= number_to_currency(current_company.company_quarter_total(yearly_date(7)))
            %td
              %b= number_to_currency(current_company.company_quarter_total(yearly_date(10)))
            %td.red_text
              %b= number_to_currency(current_company.company_year_total(active_date))

    .row
      .small-12.columns.total_amount
        %ul.inline-list
          %li
            %label
              = "#{active_date.year} total amount received:"
              %span.large_red_text= number_to_currency(current_company.company_year_total(active_date))
          %li
            %label
              Total less taxes applied:
              %span.large_red_text= number_to_currency(current_company.yearly_total_less_taxes(view_quarter_date))
          %li
            %label
              Taxes applied to total:
              %span.large_red_text= number_to_currency(current_company.yearly_taxes_applied(view_quarter_date))
