- provide(:title, 'Sign in')

.row
  .small-12.medium-6.large-6.small-centered.columns
    %h2.main_page_header Sign in
    .panel
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.label :email, 'Your email'
        = f.text_field :email, autofocus: true
        = f.label :password
        = f.password_field :password
        - if devise_mapping.rememberable?
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember me

        %br/
        = f.submit 'Sign in', class: 'button radius expand'

      = link_to 'Sign up', new_user_registration_path
      %br/
      = render 'devise/shared/links'
