- provide(:title, 'Set Password')

.row
  .small-12.medium-8.large-8.columns
    %h1
      = image_tag 'invoice_folder.png'
      EasyKeep
    %p Welcome to EasyKeep where you can view your account history all in one place, anytime and everywhere.
    %ul
      %li
        %b Services
        \- See when we were there and the cost of our visit.
      %li
        %b Invoices
        \- See how much you owe and and how much you've paid.
      %li
        %b Account info
        \- Phone number or email address change? Update your account info so we can
        keep in touch.

  %br/

  .small-12.medium-4.large-4.columns.panel
    %h4= t 'devise.invitations.edit.header'
    = form_for resource, as: resource_name, url: invitation_path(resource_name),
    html: { method: :put } do |f|
      = devise_error_messages!
      = f.hidden_field :invitation_token

      %p
        %label Your name
        = resource.name
      %p
        %label Your email
        = resource.email
      %p
        = f.label :password
        = f.password_field :password
      %p
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %p= f.submit t("devise.invitations.edit.submit_button"), class: 'small button radius expand'
