- provide(:title, 'Invite Admin User')

.row
  %br/

  .small-12.medium-4.large-4.columns.panel
    %h2
      = t "devise.invitations.new.header"
      to a new admin user

    = form_for resource, as: resource_name, url: invitation_path(resource_name),
    html: {method: :post} do |f|
      = devise_error_messages!
      %p
        = f.label :name
        = f.text_field :name
      - resource.class.invite_key_fields.each do |field|
        %p
          = f.label field
          = f.text_field field
      %p
        = f.submit t("devise.invitations.new.submit_button"), class: 'small button radius expand'
        = link_to 'Cancel Request', company_path, class: 'small button secondary radius expand'


  .small-12.medium-8.large-8.columns.disable_link
    = render 'admin_preview'
