<%= form_for [@invoice, @payment] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="small-12 medium-12 large-3 columns">
      <%= f.label :received_on, '*Received on (yyyy-mm-dd)' %>
      <%= f.text_field :received_on, class: 'datePicker', placeholder: 'Date' %>
    </div>

    <div class="small-6 medium-6 large-2 columns">
      <%= f.label :transaction_type, 'Type' %>
      <%= f.select :transaction_type,
                   'Check' => :check,
                   'Debit' => :debit,
                   'Credit' => :credit,
                   'Cash' => :cash %>
    </div>

    <div class="small-6 medium-6 large-2 columns">
      <%= f.label :memo %>
      <%= f.text_field :memo, placeholder: 'Check#' %>
    </div>

    <div class="small-12 medium-12 large-2 columns">
      <%= f.label :amount %>
      <div class="row collapse">
        <div class="small-3 medium-2 large-2 columns">
          <span class="prefix">$</span>
        </div>
        <div class="small-9 medium-10 large-10 columns">
          <%= f.number_field :amount, step: 0.01, placeholder: '0.00' %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-12 large-3 columns">
      <%= f.submit class: 'large button success radius expand' %>
    </div>
  </div>
<% end %>
