- provide(:title, 'New Payment')

.row
  .small-12.columns
    %h4.main_page_header
      New payment - #{@invoice.account.name} Account
      %br/
      Invoice# #{@invoice.number}

    .panel
      %ul.inline-list
        %li
          Balance Due:
          %span.red_text= number_to_currency(@invoice.balance_due)

      = render 'payments/form'

      .label_size= link_to "#{@invoice.account.name} - Invoice# #{@invoice.number}", @invoice
