<h4>Payment History</h4>

<table>
  <thead>
  <tr>
    <th>Received on</th>
    <th>Type</th>
    <th>Memo</th>
    <th>Amount</th>
    <% if current_user.is_admin? %>
      <th class="hide_on_print">Edit</th>
      <th class="hide_on_print">Delete</th>
    <% end %>
  </tr>
  </thead>

  <% @payments.each do |payment| %>
    <% if payment.persisted? %>
      <tbody>
      <tr>
        <td><%= payment.received_on.strftime("%Y-%b-%d") %></td>
        <td><%= payment.transaction_type.capitalize %></td>
        <td><%= payment.memo %></td>
        <td><%= number_to_currency(payment.amount, unit: '$') %></td>
        <% if current_user.is_admin? %>
          <td class="center_cell hide_on_print">
            <%= link_to edit_invoice_payment_path(@invoice, payment) do %>
              <i class="page fi-page-edit"></i>
            <% end %>
          </td>
          <td class="center_cell hide_on_print">
            <%= link_to [@invoice, payment],
                        method: :delete,
                        confirm: 'Are you sure? This will permanently delete your payment history record.' do %>
              <i class="general fi-x"></i>
            <% end %>
          </td>
        <% end %>

      </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
