<h4>Payment History</h4>

<table>
  <thead>
  <tr>
    <th>Type</th>
    <th>Received on</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @payments.each do |payment| %>
  <% if payment.persisted? %>
    <tbody>
    <tr>
      <td><%= payment.transaction_type %></td>
      <td><%= payment.received_on.strftime("%Y-%b-%d") %></td>
      <td><%= number_to_currency(payment.amount, unit: '$') %></td>
      <td class="center_cell">
        <%= link_to edit_invoice_payment_path(@invoice, payment) do %>
          <i class="page fi-page-edit"></i>
        <% end %>
      </td>
      <td class="center_cell">
        <%= link_to [@invoice, payment],
                    method: :delete,
                    confirm: 'Are you sure? This will permanently delete your payment history record.' do %>
          <i class="general fi-x"></i>
        <% end %>
      </td>
    </tr>
    </tbody>
  <% end %>
<% end %>
</table>
