- provide(:title, 'Edit Payment')

.row
  .small-12.columns
    %h4.main_page_header
      New payment - #{@invoice.account.name} Account
      %br/
      Invoice# #{@invoice.id}

    .panel
      %ul.inline-list
        %li
          Balance Due:
          %span.red_text= number_to_currency(@payment.balance_due_less_payment)

      = render 'form'

      .label_size= link_to "#{@invoice.account.name} - Invoice# #{@invoice.id}", @invoice
