/* Remove apply payment link from invoice show page and render new payments partial if form does not exist. */
if (!document.getElementById('newPaymentForm')) {
  $('<%= "#applyPaymentLink#{@invoice.id}" %>').hide();
  $('#applyPaymentDIV').after("<%= j render('payments/new') %>");
}

/* Replace apply payment TR with newly selected TR on account show page. */
$('tr.applyPaymentTR').remove();
$('tr').removeClass('active_row');
$('<%= "#tableRow#{@invoice.id}" %>').addClass('active_row').after('<tr class="applyPaymentTR active_row" id="applyPaymentTR<%= @invoice.id %>"><td colspan="6"><%= j render('payments/form') %></td></tr>');
