<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @payment.type %>
</p>

<p>
  <b>Received on:</b>
  <%= @payment.received_on %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Invoice:</b>
  <%= @payment.invoice_id %>
</p>


<%= link_to 'Edit', edit_invoice_payment_path(@invoice, @payment) %> |
<%= link_to 'Back', invoice_payments_path(@invoice) %>
