= form_for @unit do |f|
  = render 'shared/error_messages', object: f.object

  .row
    .small-12.medium-6.large-6.columns
      = f.label :name, 'Name (use singular term. Examples: box, gallon, foot)'
      = f.text_field :name

    .small-12.medium-6.large-6.columns.inline-tiny-button
      = f.submit class: 'tiny button radius expand'
