.row
  .small-12.columns
    %h4= "#{active_date.year} - #{quarter_name} Quarter Income Report"

    .scroll_overflow-x
      %table
        %thead
          %tr
            %th= 'Account'.pluralize(@accounts.count)
            %th= month_in_quarter_date(0).strftime('%B')
            %th= month_in_quarter_date(1).strftime('%B')
            %th= month_in_quarter_date(2).strftime('%B')
            %th Account totals

        %tbody
          - @accounts.each do |account|
            %tr
              %td= account.name
              %td= number_to_currency(account.total_account_payments('month', month_in_quarter_date(0)))
              %td= number_to_currency(account.total_account_payments('month', month_in_quarter_date(1)))
              %td= number_to_currency(account.total_account_payments('month', month_in_quarter_date(2)))
              %td= number_to_currency(account.total_account_payments('quarter', date_to_view))
          %tr.divider-line
            %td
              %b Totals
            %td
              %b= number_to_currency(current_company.total_company_payments('month', month_in_quarter_date(0)))
            %td
              %b= number_to_currency(current_company.total_company_payments('month', month_in_quarter_date(1)))
            %td
              %b= number_to_currency(current_company.total_company_payments('month', month_in_quarter_date(2)))
            %td.red_text
              %b= number_to_currency(current_company.total_company_payments('quarter', date_to_view))

= render 'inline_totals'
