.row
  .small-12.columns
    %h4= "#{active_date.year} - Yearly Income Report"

    .scroll_overflow-x
      %table
        %thead
          %tr
            %th= 'Account'.pluralize(@accounts.count)
            %th First quarter
            %th Second quarter
            %th Third quarter
            %th Fourth quarter
            %th Account totals
        %tbody
          - @accounts.each do |account|
            %tr
              %td= account.name
              %td= number_to_currency(account.total_account_payments('quarter', start_of_quarter_date(1)))
              %td= number_to_currency(account.total_account_payments('quarter', start_of_quarter_date(4)))
              %td= number_to_currency(account.total_account_payments('quarter', start_of_quarter_date(7)))
              %td= number_to_currency(account.total_account_payments('quarter', start_of_quarter_date(10)))
              %td= number_to_currency(account.total_account_payments('year', active_date))
          %tr.divider-line
            %td
              %b Totals
            %td
              %b= number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(1)))
            %td
              %b= number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(4)))
            %td
              %b= number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(7)))
            %td
              %b= number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(10)))
            %td.red_text
              %b= number_to_currency(current_company.total_company_payments('year', date_to_view))

= render 'inline_totals'
