.row
  .small-12.columns
    %h4= "#{active_date.year} - Yearly Income Report"
    %hr/

    %p
      %small= date_range(1)
      %br/
      First Quarter:
      %b= number_to_currency(current_company.total_company_payments(:quarter, start_of_quarter_date(1)))
    %p
      %small= date_range(4)
      %br/
      Second Quarter:
      %b= number_to_currency(current_company.total_company_payments(:quarter, start_of_quarter_date(4)))
    %p
      %small= date_range(7)
      %br/
      Third Quarter:
      %b= number_to_currency(current_company.total_company_payments(:quarter, start_of_quarter_date(7)))
    %p
      %small= date_range(10)
      %br/
      Fourth Quarter:
      %b= number_to_currency(current_company.total_company_payments(:quarter, start_of_quarter_date(10)))

    = render 'totals'
