.row
  .small-12.columns
    %h4= "#{active_date.year} - Yearly Report"
    %hr/

    %p
      %b First Quarter
      (#{date_range(1)}):
      = number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(1)))
    %p
      %b Second Quarter
      (#{date_range(4)}):
      = number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(4)))
    %p
      %b Third Quarter
      (#{date_range(7)}):
      = number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(7)))
    %p
      %b Fourth Quarter
      (#{date_range(10)}):
      = number_to_currency(current_company.total_company_payments('quarter', start_of_quarter_date(10)))

    = render 'totals'
