- provide(:title, 'Income Report Graph')

.row
  .small-12.columns
    %br/
    .hide_on_print.outline
      %h4 Income Report Graph
      = render 'select_month_or_year_form'
      = render "select_#{quarter_or_year}_form"

    = content_tag :div, '', id: 'graph_money', style: 'width:100%; height:500px;',
      data: { amounts: current_company.graph_totals(view_by, active_date) }

    = current_company.graph_totals(view_by, active_date)

