<div class="fixed hide_on_print">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to 'EasyKeep', root_path %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to 'Home', root_path %></li>

        <% if user_signed_in? %>

          <!-- Account drop-down -->
          <% if current_company && current_account %>
            <li class="divider"></li>
            <li class="has-dropdown">
              <%= link_to '#' do %>
                <i class="miscellaneous fi-at-sign"><%= current_account.name %></i>
              <% end %>
              <ul class="dropdown">
                <li><%= link_to 'Account', current_account %></li>
                <li><%= link_to 'Invoices', invoices_path %></li>
                <li><%= link_to 'Edit account', edit_account_path(current_account) %></li>
              </ul>
            </li>
          <% end %>

          <% if current_company && current_company.persisted?  %>
            <!-- Company drop-down -->
            <% if current_user.is_admin? %>
              <li class="divider"></li>
              <li class="has-dropdown"><a href="#">Company</a>
                <ul class="dropdown">
                  <li><%= link_to 'Company settings', company_path %></li>
                  <li><%= link_to 'Quarterly report', quarterly_report_company_path %></li>
                  <li><%= link_to 'Yearly report', yearly_report_company_path %></li>
                  <li><%= link_to 'Search invoices', search_invoices_company_path %></li>
                  <li><%= link_to 'About Company', about_company_path %></li>
                </ul>
              </li>
            <% else %>
              <li class="divider"></li>
              <li><%= link_to "About #{current_company.name}", about_company_path %></li>
            <% end %>
          <% end %>

          <!-- User drop-down -->
          <li class="divider"></li>
          <li class="has-dropdown">
            <%= link_to '#' do %>
              <i class="people fi-torso"></i>User
            <% end %>
            <ul class="dropdown">
              <li><%= link_to 'Edit user', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>

      </ul>
    </section>
  </nav>
</div>
