<div class="fixed hide_on_print">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to 'Donna Gibbs', root_path %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to 'Home', root_path %></li>

        <% if user_signed_in? %>

          <!-- Account drop-down -->
          <% if current_company && current_account %>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#"><%= current_account.name %></a>
              <ul class="dropdown">
                <li><%= link_to 'Account', current_account %></li>
                <li><%= link_to 'Invoices', invoices_path %></li>
                <li><%= link_to 'Edit Account', edit_account_path(current_account) %></li>
                <% if current_user.is_admin? %>
                  <li>
                    <%= link_to 'Destroy Account', current_account,
                                method: :delete,
                                confirm: 'Are you sure? This will permanently DELETE your ACCOUNT information and all SERVICES, INVOICES, and PAYMENTS applied to the ACCOUNT!' %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if current_company && current_company.persisted? && current_user.is_admin? %>

            <!-- Reports drop-down -->
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Reports</a>
              <ul class="dropdown">
                <li><%= link_to 'Quarterly', quarterly_report_company_path %></li>
                <li><%= link_to 'Yearly', yearly_report_company_path %></li>
              </ul>
            </li>

            <!-- Company drop-down -->
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Company settings</a>
              <ul class="dropdown">
                <li><%= link_to 'Company', company_path %></li>
                <li><%= link_to 'Edit', edit_company_path %></li>
                <li><%= link_to 'Invite admin', new_user_invitation_path %></li>
                <li>
                  <%= link_to 'Destroy', current_user.company,
                                method: :delete,
                                confirm: 'Are you sure? This will permanently DELETE your COMPANY information and all ACCOUNTS, CUSTOMERS, SERVICES, INVOICES, and PAYMENTS attached to your COMPANY!' %>
                </li>
              </ul>
            </li>
          <% end %>

          <li class="divider"></li>
          <li><%= link_to 'User settings', edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>

      </ul>
    </section>
  </nav>
</div>
