<!DOCTYPE html>
<html lang="en">
  <head>
    <!--[if !IE 7]>
    <style type="text/css">
      #wrap {display:table;height:100%}
    </style>
    <![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- google site verification -->
    <meta name="google-site-verification" content="vbqsuUszCy58b5IO0jvEvTlmBuSXPDtPoGKucKq03HY" />

    <!-- Bing site verification -->
    <meta name="msvalidate.01" content="4250A7D44E750D6681DC55E69AB65D57" />

    <meta name="description" content="EasyKeep - This app is geared for small businesses! Manage your accounts on the
    go. Create invoices with the push of a button. Invite customers to view their account history. Ideal for
    businesses with no overhead and provides a service such as house keeping, interior design, lawn care, baby
    sitting, etc.">

    <%= favicon_link_tag('favicon.ico') %>
    <title><%= content_for?(:title) ? "EasyKeep | #{yield(:title)}" : 'EasyKeep' %></title>

    <%= stylesheet_link_tag 'application', :media => :all %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrap">
      <%= render 'layouts/header' %>

      <div id="main">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/development_debugger' if Rails.env.development? %>
  </body>
</html>
