<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag('favicon.ico') %>
    <title><%= content_for?(:title) ? "EasyKeep | #{yield(:title)}" : 'EasyKeep' %></title>

    <%= stylesheet_link_tag 'application', :media => :all %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrap">
      <div id="header">
        <%= render 'layouts/header' %>
      </div>

      <div id="main">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>

    <!-- <%= render 'layouts/development_debugger' if Rails.env.development? %> -->
  </body>
</html>

