<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? "Donna Gibbs | #{yield(:title)}" : 'Donna Gibbs' %></title>

    <%= stylesheet_link_tag 'application', :media => :all %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'shared/flash_messages' %>

    <%= yield %>

    <%= render 'layouts/development_debugger' %>
  </body>
</html>
