.row
  - @accounts.each do |account|
    .small-12.medium-6.columns
      .badge.account_badge
        .badge_header
          .row
            .small-8.columns
              %h4= link_to account.name, account
            .small-4.columns
              .pad-top.right
                = link_to edit_account_path(account) do
                  %i.page.fi-page-edit
                - if current_user.is_owner?
                  = link_to account, method: :delete,
                  confirm: 'Are you sure? This will permanently DELETE your ACCOUNT information and all SERVICES, INVOICES, and PAYMENTS applied to the ACCOUNT!'  do
                    %i.general.fi-x
        .badge_info
          %b Contact
          = account.user.name
          %br/
          = link_to '#', 'data-reveal-id' => "contactInfoModal#{account.id}", remote: true do
            %b Contact info
            %i.general.fi-mail
          %br/
          %b All services invoiced
          = yes_or_no(account.all_services_invoiced?)
          %br/
          %b All invoices P.I.F.
          = yes_or_no(account.paid_in_full?)
          %br/
          = link_to invoices_path(account_id: account.id) do
            %b Invoices
            %i.miscellaneous.fi-book
          %br/
          %b User status
          = render 'user_status', account: account
          %br/
