<div <%= "id=contactInfoModal#{account.id}" %> class="reveal-modal medium" data-reveal>
  <h1><%= account.name %> <small>Contact Information</small></h1>

  <hr>

  <ul class="no_bullets">
    <li><label><b>Address: </b><%= account.full_address %></label></li>
    <li><label><b>Phone: </b><%= account.phone %></label></li>
    <li><label><b>Fax: </b><%= account.fax %></label></li>
    <li><label><b>Email: </b><%= mail_to account.user.email %></label></li>
  </ul>

  <a class="close-reveal-modal">&#215;</a>
</div>
