%div{id: "contactInfoModal#{account.id}", class: 'reveal-modal medium', data: {reveal: true}}
  %h1
    = account.name
    %small Contact Information

  %hr/

  %ul.no_bullets
    %li
      %label
        %b Address:
        = account.full_address
    %li
      %label
        %b Phone:
        = account.phone
    %li
      %label
        %b Fax:
        = account.fax
    %li
      %label
        %b Email:
        = mail_to account.user.email, nil, target: '_blank'
  %a.close-reveal-modal ×
