.row
  .small-12.columns
    .right
      = link_to edit_account_path(current_account), title: 'Edit Account' do
        Edit ACCT
        %i.page.fi-page-edit

      - if current_user.is_owner?
        = link_to current_account, title: 'Delete Account', class: 'pad-left red_link', method: :delete,
        data: { confirm: t(:confirm_delete_account) } do
          Delete ACCT
          %i.general.fi-x

.row
  .small-12.columns
    %h4= "#{current_account.name} Account"

    = render 'shared/customer_header'
