= form_for(@account) do |f|
  = render 'shared/error_messages', object: f.object
  = hidden_field_tag :invoice_id, @invoice.id if @invoice

  - if current_user.is_admin?
    .row
      .small-12.medium-6.large-6.columns
        = f.label :name
        = f.text_field :name, placeholder: 'Smith House'

    .row
      .small-12.medium-12.large-6.columns
        %label
          = f.check_box :uses_account_name
          Use Account/Company name on invoices

      .small-12.medium-12.large-6.columns
        %label
          = f.check_box :uses_contact_name
          Use Contact's (Full name) on invoices

  = f.fields_for(:user, @account.user) do |user_f|
    .row
      .small-12.medium-6.large-6.columns
        = user_f.label :name, "Contact's (Full name)"
        = user_f.text_field :name, placeholder: 'John Smith'

      .small-12.medium-6.large-6.columns
        = user_f.label :email
        = user_f.text_field :email, title: edit_email_address(@account.user),
          disabled: @account.user.encrypted_password.present?

  = render 'shared/address_fields', f: f
  = render 'accounts/pre_post_fields', f: f if current_user.is_admin?

  .row
    .small-12.medium-6.large-6.columns
      = f.submit class: 'button radius expand'
