<%= form_for(@account) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if current_user.is_admin? %>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <%= f.label :name, '*Account name / Company name' %>
        <%= f.text_field :name, autofocus: true, placeholder: 'Smith House' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <label><%= f.check_box :is_a_company %> Account is a Company</label>
      </div>
    </div>
  <% end %>

  <%= f.fields_for(:user) do |user_f| %>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <%= user_f.label :name, '*Contact name' %>
        <%= user_f.text_field :name, placeholder: 'John Smith' %>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <%= user_f.label :email %>
        <%= user_f.text_field :email,
                disabled: @account.user.encrypted_password.present? %>
      </div>
    </div>
  <% end %>

  <%= render 'shared/address_fields', f: f %>
<% end %>
