#format_invoice_number.anchor
.outline
  .row
    .small-12.columns
      %p.label_size
        %b Format Account Invoice Number Option -
        %br/
        You can format a Prefix and/or Postfix to all of this Account's Invoice numbers.
      %p.label_size
        %b Examples:
        %br/
        [Prefix = "ROOF"] [Postfix = "JOB"] =
        %b ROOF###JOB
        %br/
        [Prefix = "Home"] [Divider = "-"] =
        %b Home-###
        %br/
        If you want something like
        %b ROOF ### JOB
        just enter a space in the Divider.

  .row
    .small-4.medium-3.large-3.columns
      = f.label :prefix
      = f.text_field :prefix, placeholder: 'Prefix'

    .small-4.medium-3.large-3.center.columns
      .down_to_text_field
        [INVOICE#]

    .small-4.medium-3.large-3.columns
      = f.label :postfix
      = f.text_field :postfix, placeholder: 'Postfix'

    .hide-for-small-only.medium-1.large-1.center.columns
      .down_to_text_field
        |

    .small-2.medium-2.large-2.left.columns
      = f.label :divider
      = f.text_field :divider, placeholder: 'Divider'
