- if account.user.invitation_token.present?
  Invited
  %button.tiny.radius.user_status_button.button{                              |
  data: { open: "inviteCustomerModal#{account.id}" },                         |
  title: 'to view there account information'} Re-invite                       |

  = render 'accounts/invite_customer_modal', account: account

- elsif account.user.encrypted_password.present?
  %b.green_text Active

  - if @invoice && @invoice.persisted?
    %br/
    %button.tiny.radius.send_user_email_button.button{                        |
    data: { open: "invoiceReadyModal#{@invoice.id}" }                         |
    } Notify #{@invoice.account.user.name} that invoice is ready for viewing  |

    = render 'accounts/invoice_ready_modal', invoice: @invoice

- elsif account.user.email.present?
  %button.tiny.radius.user_status_button.button{                              |
  data: { open: "inviteCustomerModal#{account.id}" },                         |
  title: 'to view there account information'} Invite                          |

  = render 'accounts/invite_customer_modal', account: account

- else
  no email
