- provide(:title, 'Edit Account')

.row
  .small-12.medium-8.large-8.small-centered.columns
    %h1.main_page_header= "Editing #{@account.name} Account"
    %br/

    = render 'form'

    = link_to "#{@account.name} Account", account_path(@account), class: 'small button radius'
