<% provide(:title, 'Accounts Listing') %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1>Accounts Listing</h1>

    <table>
      <thead>
        <tr>
          <th>Account name</th>
          <th>Contact name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Fax</th>
          <th>Email</th>
          <th>Invoices</th>
          <th>User status</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <% @accounts.each do |account| %>
        <tbody>
          <tr>
            <td><%= link_to account.name, account %></td>
            <td><%= account.user.name %></td>
            <td><%= account.full_address %></td>
            <td><%= account.phone %></td>
            <td><%= account.fax %></td>
            <td><%= mail_to account.user.email %></td>
            <td class="center_cell">
              <%= link_to account_invoices_path(account) do %>
                <i class="miscellaneous fi-book"></i>
              <% end %>
            </td>
            <td><%= render 'user_status', account: account %></td>
            <td class="center_cell">
              <%= link_to edit_account_path(account) do %>
                <i class="page fi-page-edit"></i>
              <% end %>
            </td>
            <td class="center_cell">
              <%= link_to account, method: :delete, confirm: 'Are you sure? This will permanently delete your account and all the information.'  do %>
                <i class="general fi-x"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>

    <%= paginate @accounts %>

    <br>

    <%= link_to 'Create new account', new_account_path %>

  </div>
</div>
