<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.address_1 %></td>
      <td><%= account.address_2 %></td>
      <td><%= account.city %></td>
      <td><%= account.state %></td>
      <td><%= account.zip %></td>
      <td><%= account.phone %></td>
      <td><%= account.fax %></td>
      <td><%= account.email %></td>
      <td><%= link_to 'Show', account %></td>
      <td><%= link_to 'Edit', edit_account_path(account) %></td>
      <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
