<% provide(:title, 'Accounts listing') %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1>Accounts listing</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Phone</th>
          <th>Fax</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <% @accounts.each do |account| %>
        <tbody>
          <tr>
            <td><%= link_to account.name, account %></td>
            <td><%= account.full_address %></td>
            <td><%= account.city %></td>
            <td><%= account.state %></td>
            <td><%= account.zip %></td>
            <td><%= account.phone %></td>
            <td><%= account.fax %></td>
            <td><%= mail_to account.email %></td>
            <td class="center_cell">
              <%= link_to edit_account_path(account) do %>
                <i class="general foundicon-edit"></i>
              <% end %>
            </td>
            <td class="center_cell">
              <%= link_to account, method: :delete,
                          data: { confirm: "Are you sure? This will permanently delete your
              user's account." } do%>
                <b><i class="general foundicon-remove"></i></b>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>

    <br>

    <%= link_to 'New Account', new_account_path %>

  </div>
</div>
