<% provide(:title, 'Accounts Listing') %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1><%= "#{current_company.name} Accounts Listing" %></h1>

    <div class="hide-for-large-up"><%= render 'badges' %></div>
    <div class="show-for-large-up"><%= render 'table' %></div>

    <%= paginate @accounts %>

    <br>

    <%= link_to 'Create new account', new_account_path, class: 'small button radius' %>

  </div>
</div>

