- provide(:title, 'Accounts Listing')

.row
  .small-12.small-centered.columns
    %h1.main_page_header= "#{current_company.name} Accounts Listing"
    = render 'table', accounts: @accounts

    = paginate @accounts
    %br/

    = link_to 'Create new account', new_account_path, class: 'small button radius'
