<% provide(:title, "#{@account.name} account") %>

<div class="row">
  <div class="small-12 columns">

    <h1><%= "#{@account.name} Account" %></h1>

    <ul class="vcard">
      <li class="fn"><%= @account.name %></li>
      <li><%= @account.user.name %></li>
      <li><%= mail_to @account.user.email %></li>
      <li><%= @account.address_1 %></li>
      <li><%= @account.address_2 %></li>
      <li><%= @account.city %></li>
      <li><%= @account.state_zip %></li>
      <li><%= @account.phone %></li>
      <li><%= @account.fax %></li>
    </ul>

    <br>

    <%= link_to 'Edit', edit_account_path(@account) %> |
    <% if current_user.is_admin? %>
      <%= link_to 'Back', accounts_path %> |
    <% end %>
    <%= render 'user_status', account: @account %>

    <br><br>

    <%= link_to 'View services', account_services_path(@account) %>
  </div>
</div>
