<% provide(:title, "#{@account.name}'s Account") %>

<div class="row">
  <div class="small-12 columns">

    <h1><%= "#{@account.name}'s Account" %></h1>

    <ul class="vcard">
      <li class="fn"><%= @account.name %></li>
      <li><%= @account.user.name %></li>
      <li><%= mail_to @account.user.email %></li>
      <li><%= @account.address_1 %></li>
      <li><%= @account.address_2 %></li>
      <li><%= @account.city %></li>
      <li><%= @account.state_zip %></li>
      <li><%= @account.phone %></li>
      <li><%= @account.fax %></li>
    </ul>

    <br>

    <%= link_to 'Edit', edit_account_path(@account) %> |
    <%= link_to 'Back', accounts_path %>

  </div>
</div>
