- provide(:title, raw("#{@account.name} Account"))

.row
  .small-12.columns
    %br/

    .outline= render 'accounts/edit_customer_header'

    .outline= render 'services/new'

    = render 'services/invoiceable' if @services.by_not_used.any?

    = render 'invoices/outstanding' unless @account.paid_in_full?

    = render 'services/history'

    %br/

    %ul.inline-list
      %li= link_to 'Account Listings', accounts_path, class: 'small button radius'
