<% provide(:title, "#{@account.name}'s Account") %>

<div class="row">
  <div class="small-12 columns">

    <h1><%= "#{@account.name}'s Account" %></h1>

    <ul class="vcard">
      <li class="fn"><%= @account.name %></li>
      <li><%= @account.user.name %></li>
      <li><%= mail_to @account.user.email %></li>
      <li><%= @account.address_1 %></li>
      <li><%= @account.address_2 %></li>
      <li><%= @account.city %></li>
      <li><%= @account.state_zip %></li>
      <li><%= @account.phone %></li>
      <li><%= @account.fax %></li>
    </ul>

    <br>

    <%= link_to 'Edit', edit_account_path(@account) %> |
    <%= link_to 'Back', accounts_path %>
    <% if @account.user.email.present? %> |
      <% if @account.user.invitation_token.present? %>
        user is invited
      <% elsif @account.user.encrypted_password.present? %>
        active user
      <% else %>
        <%= link_to 'Invite user',
                    invite_user_path(account_id: @account),
                    method: :post,
                    title: 'to view there account information' %>
      <% end %>
    <% end %>

  </div>
</div>
