<% provide(:title, raw("#{@account.name} Account")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1><%= "#{@account.name} Account" %></h1>

    <%= render 'shared/customer_info' %>

    <%= render 'services/new' if current_user.is_admin? %>

    <%= render 'services/services' %>

    <br>

    <ul class="inline-list">
      <% if current_user.is_admin? %>
        <li><%= link_to 'Account Listings', accounts_path,
                        class: 'small button radius' %></li>
      <% end %>
      <li><%= link_to "#{@account.name} Invoices", invoices_path,
                      class: 'small button radius' %></li>
      <li><%= link_to 'Edit Account Info', edit_account_path(@account),
                      class: 'small button radius' %></li>
    </ul>

  </div>
</div>
