<% provide(:title, raw("#{@account.name} Account")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1><%= "#{@account.name} Account" %></h1>

    <div class="panel">
      <ul class="inline-list">
        <% if @account.user.name.present? %>
          <li><label><b>Contact name: </b><%= @account.user.name %></label></li>
        <% end %>
        <% if @account.full_address.present? %>
          <li><label><b>Address: </b><%= @account.full_address %></label></li>
        <% end %>
        <% if @account.phone.present? %>
          <li><label><b>Phone: </b><%= @account.phone %></label></li>
        <% end %>
        <% if @account.fax.present? %>
          <li><label><b>Fax: </b><%= @account.fax %></label></li>
        <% end %>
        <% if @account.user.email.present? %>
          <li><label><b>Email: </b><%= mail_to @account.user.email %></label></li>
        <% end %>
        <li><label><b>User status: </b><%= render 'accounts/user_status', account: @account %></label></li>
      </ul>
    </div>

    <%= render 'services/form' if current_user.is_admin? %>

    <%= render 'services/index' %>

    <br>

    <ul class="inline-list">
      <% if current_user.is_admin? %>
        <li><%= link_to 'Account Listings', accounts_path,
                        class: 'small button radius' %></li>
      <% end %>
      <li><%= link_to "#{@account.name} Invoices", account_invoices_path(@account),
                      class: 'small button radius' %></li>
      <li><%= link_to 'Edit Account Info', edit_account_path(@account),
                      class: 'small button radius' %></li>
    </ul>

  </div>
</div>
