<% provide(:title, "#{@account.name} account") %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1><%= "#{@account.name} Account" %></h1>

    <div class="panel">
      <ul class="inline-list">
        <% if @account.user.name.present? %>
          <li><b>Contact name: </b><%= @account.user.name %></li>
        <% end %>
        <% if @account.full_address.present? %>
          <li><b>Address: </b><%= @account.full_address %></li>
        <% end %>
        <% if @account.phone.present? %>
          <li><b>Phone: </b><%= @account.phone %></li>
        <% end %>
        <% if @account.fax.present? %>
          <li><b>Fax: </b><%= @account.fax %></li>
        <% end %>
        <% if @account.user.email.present? %>
          <li><b>Email: </b><%= mail_to @account.user.email %></li>
        <% end %>
        <li><b>User status: </b><%= render 'user_status', account: @account %></li>
      </ul>
    </div>

    <br>

    <%= link_to 'Edit', edit_account_path(@account) %>
    <% if current_user.is_admin? %>
      | <%= link_to 'Back', accounts_path %>
    <% end %>

    <br><br>

    <%= link_to 'View services', account_services_path(@account) %>

  </div>
</div>
