<% provide(:title, raw("#{@account.name} Account")) %>

<div class="row">
  <div class="small-12 small-centered columns">

    <h1><%= "#{@account.name} Account" %></h1>

    <div class="panel">
      <ul class="inline-list">
        <% if @account.user.name.present? %>
          <li><b>Contact name: </b><%= @account.user.name %></li>
        <% end %>
        <% if @account.full_address.present? %>
          <li><b>Address: </b><%= @account.full_address %></li>
        <% end %>
        <% if @account.phone.present? %>
          <li><b>Phone: </b><%= @account.phone %></li>
        <% end %>
        <% if @account.fax.present? %>
          <li><b>Fax: </b><%= @account.fax %></li>
        <% end %>
        <% if @account.user.email.present? %>
          <li><b>Email: </b><%= mail_to @account.user.email %></li>
        <% end %>
        <li><b>User status: </b><%= render 'accounts/user_status', account: @account %></li>
      </ul>
    </div>

    <%= render 'services/form' if current_user.is_admin? %>

    <%= render 'services/index' %>

    <br>

    <ul class="inline-list">
      <li><%= link_to 'Edit Account Info', edit_account_path(@account),
                      class: 'small button radius' %></li>
      <% if current_user.is_admin? %>
        <li><%= link_to 'Accounts Listing', accounts_path,
                        class: 'small button radius' %></li>
      <% end %>
    </ul>

  </div>
</div>
