- provide(:title, raw("#{@account.name} Account"))

.row
  .small-12.columns
    %br/

    .outline
      .row
        .small-8.columns
          %h4= "#{@account.name} Account"

        .small-4.columns
          .pad-top.right
            = link_to edit_account_path(@account), title: 'Edit' do
              %i.page.fi-page-edit
            - if current_user.is_owner?
              = link_to @account, title: 'Delete', method: :delete,
              data: { confirm: 'Are you sure? This will permanently DELETE your ACCOUNT information and all SERVICES, INVOICES, and PAYMENTS applied to the ACCOUNT!' } do
                %i.general.fi-x
      .row
        .small-12.columns
          = render 'shared/customer_header'

    .outline= render 'services/new'

    = render 'services/invoiceable' if @services.by_not_used.any?

    = render 'accounts/outstanding_invoices' unless @account.paid_in_full?

    .outline= render 'services/history'

    %br/

    %ul.inline-list
      %li= link_to 'Account Listings', accounts_path, class: 'small button radius'
      %li= link_to "#{@account.name} Invoices", invoices_path, class: 'small button radius'
