- provide(:title, 'Sign up')

.row
  .small-12.medium-6.large-6.small-centered.columns
    %h2.heading.main_page_header Sign up
    .panel

      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        = f.label :name
        = f.text_field :name, autofocus: true

        = f.fields_for(:company) do |company_f|
          = company_f.label :name
          = company_f.text_field :name

        = f.label :email
        = f.text_field :email
        = f.label :password
        = f.password_field :password, autocomplete: 'off'
        = f.label :password_confirmation
        = f.password_field :password_confirmation
        %br/

        = f.submit 'Sign up', class: 'button radius expand'

      = render 'devise/shared/links'
